[2021-12-19 18:27] Howcantiwhenucan opened #2 "Iam thinking about some apps and their permissions money borrowing apps they are available in public domain but Iam sure that's not safe please I don't know any thing about this but I will"
Iam not sure you knows it but people are being trapped and it even leads to death let's give back

[2022-01-25 13:44] The-Shivam-garg opened #3 "Add more relevant courses in the Course page"
**Description**
_Add relevant courses to the page_

👀 Have you spent some time to check if this issue has been raised before?

- [ ]  I checked and didn't find similar issue

🏢 Have you read the Code of Conduct?

- [ ]  I have read the [Code of Conduct](https://github.com/The-Shivam-garg/BigB-E-learn-Websit-e/blob/0f4ca31df60cfec053eecc2027c9c6be05f4563a/CODE_OF_CONDUCT.md)

[2022-01-25 13:46] The-Shivam-garg opened #4 "Improve the design of contact us page"
### 👀 Have you spent some time to check if this issue has been raised before?

- [ ]  I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [ ]  I have read the [Code of Conduct](https://github.com/The-Shivam-garg/BigB-E-learn-Websit-e/blob/0f4ca31df60cfec053eecc2027c9c6be05f4563a/CODE_OF_CONDUCT.md)

[2022-01-25 13:51] The-Shivam-garg opened #5 "Displaying also books thumbnails under "Recommended books" section as a book itself using html, css to add a more course ."

[2022-01-25 13:52] The-Shivam-garg opened #6 "Add a CART!"
**Feature description**
_For those who want to read later or use later it would be great!_

👀 Have you spent some time to check if this issue has been raised before?

- [x]  I checked and didn't find similar issue

🏢 Have you read the Code of Conduct?

- [x]  I have read the [Code of Conduct](https://github.com/The-Shivam-garg/BigB-E-learn-Websit-e/blob/0f4ca31df60cfec053eecc2027c9c6be05f4563a/COD

[2022-01-25 14:00] The-Shivam-garg opened #7 "Improve the UI of the Blogs Section"
**Feature description**

👀 Have you spent some time to check if this issue has been raised before?

- [ ]  I checked and didn't find similar issue

🏢 Have you read the Code of Conduct?

- [ ]  I have read the [Code of Conduct](https://github.com/The-Shivam-garg/BigB-E-learn-Websit-e/blob/0f4ca31df60cfec053eecc2027c9c6be05f4563a/CODE_OF_CONDUCT.md)

[2022-01-25 14:00] The-Shivam-garg opened #8 "Create a Contributors page for the website"
Create a Contributors page for the website and add each contributor with their image and Github profile.
Link the page with the home page and add it to the navbar.

👀 Have you spent some time to check if this issue has been raised before?
- [ ]  I checked and didn't find similar issue

🏢 Have you read the Code of Conduct?
- [ ]  I have read the [Code of Conduct](https://github.com/The-Shivam-garg/

[2022-01-25 14:03] The-Shivam-garg opened #9 "Create a feature page for the website"
Create a Contributors page for the website and add each contributor with their image and Github profile.
Link the page with the home page and add it to the navbar.

👀 Have you spent some time to check if this issue has been raised before?

- [ ]  I checked and didn't find similar issue

🏢 Have you read the Code of Conduct?

- [ ]  I have read the [Code of Conduct](https://github.com/The-Shivam-gar

[2022-01-25 14:07] The-Shivam-garg opened #10 "Feature: Add Dark Mode to the Website 🌑"
**Feature description**
Add Dark Mode to the Website 🌑

👀 Have you spent some time to check if this issue has been raised before?

- [ ]  I checked and didn't find similar issue

🏢 Have you read the Code of Conduct?

- [ ]  I have read the [Code of Conduct](https://github.com/The-Shivam-garg/BigB-E-learn-Websit-e/blob/5332d5a97ff58a00a86839db46c37c73e2b15842/CODE_OF_CONDUCT.md)

[2022-01-25 14:09] The-Shivam-garg opened #11 "Create a Animated video for the Home Page"
**Description**
Create an animated video about the website explaining its features and add it to the home page of the website.

**👀 Have you spent some time to check if this issue has been raised before?**
- [ ]  I checked and didn't find similar issue

**🏢 Have you read the Code of Conduct?**
- [ ]  I have read the [Code of Conduct](https://github.com/The-Shivam-garg/BigB-E-learn-Websit-e/blob/53

[2022-01-25 14:10] The-Shivam-garg opened #12 "Implement the use of Search Button for books 📚"
****Description****
Create an animated video about the website explaining its features and add it to the home page of the website.

**👀 Have you spent some time to check if this issue has been raised before?**
- [ ]  I checked and didn't find similar issue

**🏢 Have you read the Code of Conduct?**
- [ ]  I have read the Code of Conduct

[2022-01-25 14:13] The-Shivam-garg opened #13 "Feature add a pop up message for the Lauch of New course"

[2022-01-25 14:38] The-Shivam-garg opened #14 "Feature : Add a Interactive Chat Bot"
Description
Create an animated video about the website explaining its features and add it to the home page of the website.

👀 Have you spent some time to check if this issue has been raised before?

- [x]  I checked and didn't find similar issue

🏢 Have you read the Code of Conduct?

- [x]  I have read the [Code of Conduct](https://github.com/The-Shivam-garg/BigB-E-learn-Websit-e/blob/5332d5a97ff5

[2022-01-25 17:24] Ashwani-Verma-07 commented on #4
hi @The-Shivam-garg  can you assign this issue to me

[2022-01-27 11:43] The-Shivam-garg commented on #4
sure

[2022-01-27 18:26] 852hamza commented on #12
yes i can
can u send me more detail about it

[2022-01-29 06:17] The-Shivam-garg commented on #12
sure. I will mail you further details regarding this issue.

[2022-01-29 09:13] The-Shivam-garg commented on #12
Hey!

This  issue is about like we have putted on some courses in our course
section .
So what i want is if you can create a search bar. Where visitors put the
name and course related to that visible to them.
This effect similar to other sites like  for say amazon when we put some
keywords in search bar it starts showing up the stuff related to that.

I think the explanation  help you to  get the

[2022-01-29 10:46] Sneha0324 commented on #8
I want to try this please assign me this project

[2022-01-29 12:02] The-Shivam-garg commented on #8
sure

[2022-01-29 13:11] Sneha0324 commented on #8
Hello Shivam,
I heard that mentors can't assign issues before 1st feb.
So what should I do? Should I submit my work after 1st feb or before?
Will it be considered if submit it before 1st feb?

Sincerely,
Sneha

On Sat, 29 Jan 2022, 17:33 ShivamGarg11, ***@***.***> wrote:

[2022-01-29 14:23] The-Shivam-garg commented on #8
You can start working just submit it after 1 feb for your contribution
validity .

Best,
Shivam

On Sat, 29 Jan 2022, 6:42 p.m. Sneha0324, ***@***.***> wrote:

[2022-01-29 14:30] Sneha0324 commented on #8
Ok

[2022-01-30 14:30] The-Shivam-garg opened #17 "Responsiveness"

[2022-01-30 14:31] The-Shivam-garg opened #18 "Preloader"

[2022-01-30 14:36] The-Shivam-garg opened #19 "Develop the Feature section as creative as you can."

[2022-01-31 11:26] SSaurabhsahuu commented on #10
Hi Shivam please assign this issue to me

[2022-01-31 15:34] Wanderer-of-the-abyss commented on #10
Can you assign this issue to me ?

[2022-01-31 16:03] The-Shivam-garg commented on #10
Already assigned

On Mon, 31 Jan 2022, 9:04 p.m. Subhankar Panda, ***@***.***>
wrote:

[2022-01-31 18:31] rohit-raj25 commented on #10
I want to work on this issue under JWOC

[2022-01-31 18:31] rohit-raj25 commented on #17
I want to work on this issue under JWOC

[2022-01-31 18:35] ZaidMujahid commented on #18
I want to work on this issue under JWOC

[2022-01-31 18:39] Shresa commented on #17
I want to work on this issue under JWOC

[2022-01-31 18:42] combatantash commented on #4
I want to work on this issue under JWOC

[2022-01-31 19:01] Atif0604 commented on #8
I want to work on this issue under JWOC

[2022-01-31 19:06] Atif0604 opened #20 "Links Issue"
Fix Link issue in courses page ,
Fix all Link in navbar blog page,
Fix Link issue in contact us page ,

[2022-01-31 19:06] Atif0604 commented on #20
I want to work on this issue under JWOC
@The-Shivam-garg

[2022-01-31 19:10] Kaggrov commented on #18
I want to work on this issue under JWOC

[2022-01-31 19:53] raxvab commented on #5
I want to work with this issue under JWOC

[2022-01-31 20:05] ishitaac commented on #9
I want to work on this issue under JWOC

[2022-01-31 20:36] raxvab commented on #12
I want to work with this issue under JWOC.

[2022-01-31 20:44] uzumakiritam commented on #13
I want to work in this issue. Kindly assign this issue.

[2022-01-31 20:45] barnik109 commented on #6
I want to work on this issue under JWOC.

[2022-02-01 03:20] manya0210 commented on #5
Hey!! I want to work on this issue under JWOC.

[2022-02-01 05:14] codervivek5 commented on #17
I want to work on this issue under JWOC

[2022-02-01 05:15] codervivek5 commented on #7
I want to work on this issue under JWOC

[2022-02-01 05:16] codervivek5 commented on #9
I want to work on this issue under JWOC

[2022-02-01 05:16] codervivek5 commented on #20
I want to work on this issue under JWOC

[2022-02-01 05:17] codervivek5 commented on #3
I want to work on this issue under JWOC

[2022-02-01 05:17] codervivek5 commented on #5
I want to work on this issue under JWOC

[2022-02-01 05:18] codervivek5 commented on #6
I want to work on this issue under JWOC

[2022-02-01 05:18] codervivek5 commented on #13
I want to work on this issue under JWOC

[2022-02-01 07:29] whiteHatpro commented on #7
I want to work on this issue under JWOC

[2022-02-01 07:29] whiteHatpro commented on #4
I want to work on this issue under JWOC

[2022-02-01 10:42] ronitblenz commented on #9
I want to work on this.Please Let me in.

[2022-02-01 10:45] ronitblenz commented on #14
I have worked with Twilio in 3 projects for hackathons, so I can do this for the home page of the website.

[2022-02-01 13:05] The-Shivam-garg commented on #20
sure @Atif0604 . you have assigned with this issue

[2022-02-01 13:07] The-Shivam-garg commented on #18
I'm assigning this issue to both of you , whosoever preloader is best i will merge that. @Kaggrov @ZaidMujahid

[2022-02-01 13:17] The-Shivam-garg commented on #13
Thank you all of you for showing your interest in this issue . But for now being I'm assigning this issue to @uzumakiritam  because of his earlier comment. You can explore the website .
Best wishes for your futher contribution in JWOC.😊

[2022-02-01 13:19] The-Shivam-garg commented on #12
Thank you all of you for showing your interest in this issue . But for now being I'm assigning this issue to @raxvab because of his earlier comment. others can explore the website .
Best wishes for your future contribution in the open-source.😊

[2022-02-01 13:21] The-Shivam-garg commented on #3
Thank you for showing your interest in this issue .  I'm assigning this issue to you @codervivek5
Best wishes for your future contribution in this website.😊

[2022-02-01 13:22] The-Shivam-garg commented on #5
Thank you all of you for showing your interest in this issue . But for now being I'm assigning this issue to @manya0210  because of earlier comment. Other's can explore the website .
Best wishes for your future contribution in the Open-source.😊

[2022-02-01 13:23] The-Shivam-garg commented on #6
Thank you all of you for showing your interest in this issue . But for now being I'm assigning this issue to @barnik109   because of earlier comment. Other's can explore the website .
Best wishes for your future contribution in the Open-source.😊

[2022-02-01 13:26] The-Shivam-garg commented on #7
Thank you all of you for showing your interest in this issue . But for now being I'm assigning this issue to @whiteHatpro .
Best wishes for your future contribution in the Open-source.😊

[2022-02-01 13:27] The-Shivam-garg commented on #9
Thank you all of you for showing your interest in this issue . But for now being I'm assigning this issue to @ishitaac   because of earlier comment. Other's can explore the website .
Best wishes for your future contribution in the Open-source.😊

[2022-02-01 13:41] soujo commented on #19
Hey @The-Shivam-garg , I want to work on this issue under JWOC.

[2022-02-01 13:49] The-Shivam-garg commented on #19
Thank you  for showing your interest in this issue .  I'm assigning this issue to you @soujo
Best wishes for your further contribution in open-source.😊

[2022-02-01 13:52] barnik109 commented on #6
Can you please tell me the details about the of the cart?

[2022-02-01 14:25] The-Shivam-garg commented on #6
The cart feature works the same as in any ecommerce website , where we
store what we like or want to buy..

On Tue, 1 Feb 2022 at 19:22, barnik109 ***@***.***> wrote:

[2022-02-01 14:27] rohit-raj25 commented on #17
1. From which pages I should start first.?
2. We have to make the site responsive on three devices desktop, tab, and phone, right?

[2022-02-01 14:59] manya0210 commented on #5
Thanks...will do my best :)

[2022-02-01 15:03] The-Shivam-garg commented on #17
1. you can start with the home page.
2.yeah! rohit we have to make the website responsive for all three.

On Tue, 1 Feb 2022 at 19:59, rohit-raj25 ***@***.***> wrote:

[2022-02-01 18:10] #20 closed

[2022-02-01 18:57] aadrikasingh18 opened #24 "When we click on the Home button in Navbar while we are on the Home Page an error 404 page comes"
I want to resolve this issue such that, that error does not come and we stay on the same page.

Also, I will make all the Navbar items in the same Case (ie Upper Case)
![Screenshot (15462)](https://user-images.githubusercontent.com/91376920/152032924-724c4ebe-f64a-4171-9677-b6b7ade1cf7c.png)

[2022-02-01 18:58] aadrikasingh18 commented on #24
I want to work on this issue under JWOC

[2022-02-01 19:07] whiteHatpro commented on #4
I want to work on this issue under JWOC

[2022-02-01 19:08] whiteHatpro commented on #24
I want to work on this issue under JWOC

[2022-02-01 19:45] barnik109 commented on #6
Can you please tell me which items will be added to cart ?

[2022-02-01 19:55] barnik109 commented on #6
I am designing cart for the sample books given on this site.Is it okay?

[2022-02-02 02:36] The-Shivam-garg commented on #6
Sure

On Wed, 2 Feb 2022, 1:25 a.m. barnik109, ***@***.***> wrote:

[2022-02-02 04:37] The-Shivam-garg commented on #24
Thank you all of you for showing your interest in this issue . But for now being I'm assigning this issue to @aadrikasingh18      because of earlier comment. Other's can explore the website .
Best wishes for your future contribution in the Open-source.😊

[2022-02-02 04:44] The-Shivam-garg opened #25 "Feature : Create the Backend for the home page section "JOIN FREE ONLINE COURSES""
Feature : Create the Backend for the home page section "**JOIN FREE ONLINE COURSES**"

![image](https://user-images.githubusercontent.com/83035995/152094123-965c198a-58b9-4942-a1b4-77f7cf01d3d8.png)

What i want is, the moment student select the course , He / She want to  enroll in. they will be directed to that particular course on the website. and the students who registered their details will b

[2022-02-02 04:45] The-Shivam-garg opened #26 "Feature : Create a backend service for sign-up and sign-in"

[2022-02-02 04:48] The-Shivam-garg opened #27 "Feature : Real-time updation of the students who are registered on this website"
![image](https://user-images.githubusercontent.com/83035995/152094547-312424a5-5722-45fe-a696-fb44d49dabde.png)

Recreate this bar using real-time updation, SO that we can know how many students are actually enrolled on this website

[2022-02-02 08:06] ZaidMujahid commented on #18
@The-Shivam-garg Mentor, as per the rules you have to assign the issue to the person who commented first, and you can tell that person to make changes if you don't like it

[2022-02-02 08:22] The-Shivam-garg commented on #18
Ohk no issuee the one who commented first will start working on it. After
some time i will offically  assign it to that person .

On Wed, 2 Feb 2022, 1:36 p.m. Mohammmed Zaid, ***@***.***>
wrote:

[2022-02-02 08:46] soujo opened #28 "Feature : Add a "Teach on Bigb" Page"
Hi @The-Shivam-garg , As your website has a GET NEW SKILL section. So for that purpose, there should also be teachers to provide the skills.
How about we create a landing page for those teachers who want to teach on Bigb and in the future, you could extend this section with the back-end too.
If this idea looks appropriate to you then I can work on that page under JWOC.

[2022-02-02 09:22] The-Shivam-garg commented on #28
Sounds cool! .
 you can start working on this issue . I will officially assign this issue
to you in few hours.

On Wed, 2 Feb 2022, 2:16 p.m. Soujanya Hazra, ***@***.***>
wrote:

[2022-02-02 09:29] ZaidMujahid commented on #18
Okay thank you, btw I commented first

[2022-02-02 10:27] soujo commented on #28
Okay, then I am starting the work.

[2022-02-02 11:33] barnik109 commented on #6
$ git clone https://github.com/SauravMukherjee44/Aec-Library-Website.git
I have worked on this link and my work is completed.But the user is not giving permission .

[2022-02-02 11:48] The-Shivam-garg commented on #6
I think you have worked on someone else project it's not BIGB-eLearning-Website

[2022-02-02 11:50] barnik109 commented on #6
It was written to clone that project so I cloned it and worked.What can I do now?

[2022-02-02 11:54] The-Shivam-garg commented on #6
where it is mentioned ?

[2022-02-02 12:03] barnik109 commented on #6
Here under the title fork a project in highlighted text.

[2022-02-02 12:06] The-Shivam-garg commented on #6
![image](https://user-images.githubusercontent.com/83035995/152150583-116fc10a-28b7-4784-a64d-aee0c5126491.png)
have a look to it , are you talking about this?

[2022-02-02 12:09] barnik109 commented on #6
In the code section of the github repository where you have given all the documents and basics of github and git.

[2022-02-02 12:18] The-Shivam-garg commented on #6
ohk got it , just in a while i will be correcting then follow the same procedure . sorry for the inconvenience

[2022-02-02 12:49] The-Shivam-garg commented on #6
sure !

[2022-02-02 12:51] barnik109 commented on #6
Thanks a lot.

[2022-02-02 17:10] #24 closed

[2022-02-02 17:21] The-Shivam-garg opened #30 "Feature: ADD a section in readme.md for showing the contributors ."
AS I Believe  : The power of Open Source is the power of the people.

[2022-02-02 18:19] ronitblenz commented on #30
I want to work on this issue, I have past experience of 3 contributions and 8 hackathons.
Could you please add me as an assignee

Thanks and Regards

[2022-02-02 18:52] The-Shivam-garg commented on #24
Thank you  @aadrikasingh18 , for resolving out the issue. i have merged your code into the repository.
Now I'm closing the issue.

[2022-02-02 18:54] The-Shivam-garg commented on #30
Thank you all of you for showing your interest in this issue . But for now being I'm assigning this issue to @aadrikasingh18 because of earlier comment. Other's can explore the website .
Best wishes for your future contribution in the Open-source.😊

[2022-02-02 19:27] ronitblenz commented on #30
Sure, I will do it, if deadline crosses

[2022-02-03 04:16] The-Shivam-garg commented on #30
Hey @aadrikasingh18 can you please share the screenshot of your code output . So it will be much easier , to know about the location where you added that section.

[2022-02-03 05:33] aadrikasingh18 commented on #30
Sure

![Screenshot (15476)](https://user-images.githubusercontent.com/91376920/152286975-c94f5f18-0099-4d6d-8d7c-09e460bbe021.png)

The highlighted portion is the part that I have added.

[2022-02-03 07:04] The-Shivam-garg commented on #30
Thank you @aadrikasingh18 , for resolving out the issue. i have merged your code into the repository.

[2022-02-03 07:07] #30 closed

[2022-02-03 07:15] barnik109 commented on #6
Can you please again tell me or show me which items will be added to cart?

[2022-02-03 07:21] The-Shivam-garg commented on #6
for now you have to just add a icon of the cart.
Cause their are no books and courses available that can be added to the cart

[2022-02-03 07:25] The-Shivam-garg opened #34 "Feature: In Blog page make the links directing to the actual blogs."
![image](https://user-images.githubusercontent.com/83035995/152298847-9941628e-ced5-45e2-80b4-e62375e9dd2b.png)

Make the **Read more** button linkable to the blogs.

[2022-02-03 07:26] The-Shivam-garg opened #35 "Feature: In Blog page add more blogs on various topics"

[2022-02-03 07:27] barnik109 commented on #6
okay got it.

[2022-02-03 07:30] The-Shivam-garg commented on #9
Hey @ishitaac are you still working on this ?

[2022-02-03 07:35] soujo commented on #28
Hi @The-Shivam-garg , As I am making a new page for the teachers, it needs to be redirected from the home page.
For that, the navbar would be the best option but already it has 7 buttons so it will look bad if we push the new button over there.
Instead, can we change the `Discover Edcademy` with `Want to teach?` and then use the `find out more` for the redirect button?
Is that fine or do you have

[2022-02-03 07:49] ZaidMujahid commented on #18
Please add a JWOC tag to this issue and also while merging

[2022-02-03 07:54] ishitaac commented on #9
Yes I'm I still have time left right

[2022-02-03 07:56] The-Shivam-garg commented on #28
Hey thanks for letting me know,
Yeah you can go with it.

On Thu, 3 Feb 2022, 1:06 p.m. Soujanya Hazra, ***@***.***>
wrote:

[2022-02-03 07:57] The-Shivam-garg commented on #18
Sure dont worry about it

On Thu, 3 Feb 2022, 1:19 p.m. Mohammmed Zaid, ***@***.***>
wrote:

[2022-02-03 07:58] The-Shivam-garg commented on #9
Yeah! Would you mind if i will assign this issue to one more mentee and he
will collaborate with you?

On Thu, 3 Feb 2022, 1:25 p.m. Ishita Choudhary, ***@***.***>
wrote:

[2022-02-03 08:06] ishitaac commented on #9
No worries you can assign another mentee, but will the points be divided then?

[2022-02-03 08:42] RajulPE commented on #34
I am interested in working on this issue under JWOC.

[2022-02-03 09:41] ishitaac commented on #9
?
Pls confirm

[2022-02-03 09:43] ishitaac commented on #35
I want to work on this issue under JWOC.

[2022-02-03 10:11] ronitblenz commented on #9
I have no problem in Collaboration... If @ishitaac agrees.

[2022-02-03 11:12] The-Shivam-garg commented on #9
No the points will be alloted seprately to both of you

On Thu, 3 Feb 2022, 3:41 p.m. Ronit Banerjee, ***@***.***>
wrote:

[2022-02-03 11:50] soujo commented on #28
Hi @The-Shivam-garg , Kindly see the screenshots and give feedback. What should I improve ?

![Screenshot (192)](https://user-images.githubusercontent.com/78646418/152337341-ef2d13b0-68cc-44a8-8efa-defa2763fe19.png)
![Screenshot (193)](https://user-images.githubusercontent.com/78646418/152337320-609716bc-3efd-4fc9-84a4-5263ceb7672b.png)
![Screenshot (194)](https://user-images.githubusercontent.com

[2022-02-03 12:22] The-Shivam-garg commented on #28
Awesome!! Just do one more thing. After the review section add the variety of courses also, related to academic and non-academic (personal-development , spirituality , finance, startup .....) which can be selected by the teacher/faculty.

[2022-02-03 12:23] The-Shivam-garg commented on #35
Thank you for showing your interest in this issue . I'm assigning this issue to you @ishitaac

[2022-02-03 12:24] The-Shivam-garg commented on #34
Thank you for showing your interest in this issue . I'm assigning this issue to you @RajulPE
Best wishes for your further contribution in open-source.😊

[2022-02-03 12:24] soujo commented on #28
Sure, i will work on that.

[2022-02-03 12:49] RajulPE commented on #34
Thank You @The-Shivam-garg

[2022-02-03 12:50] ishitaac commented on #9
cool then, we will collaborate

[2022-02-03 13:01] barnik109 commented on #3
I want to work on this issue underJWOC.

[2022-02-03 13:13] The-Shivam-garg commented on #3
sure @barnik109

[2022-02-03 13:21] barnik109 commented on #3
Can you please tell me more details about it?what courses,where to add.

[2022-02-03 13:24] The-Shivam-garg commented on #3
in the course page , you can visit the different courses mention their and
can come up with any such course either in academic or
non-academic(startups,personal-development,entrepreneur,Sprituality )

[2022-02-03 14:01] ronitblenz commented on #9
here is my discord @ronitblenz #6936
Please ping me up

[2022-02-03 15:28] barnik109 commented on #6
I think my code is not updated because it is not showing the cart.Can you please check and tell me?

[2022-02-03 16:08] The-Shivam-garg commented on #6
It is updateed you can directly visit the github active page section their
you can find .

On Thu, 3 Feb 2022, 8:58 p.m. barnik109, ***@***.***> wrote:

[2022-02-03 16:17] barnik109 commented on #6
Okay,got it.

[2022-02-03 16:29] soujo commented on #28
Hi @The-Shivam-garg , Kindly check is this what you were asking for?

P.S : The illustration is created in canva

![Screenshot (197)](https://user-images.githubusercontent.com/78646418/152385110-9e884511-7c3c-4776-b283-1676841f47dd.png)

[2022-02-04 13:41] #7 closed

[2022-02-04 15:14] The-Shivam-garg commented on #28
![image](https://user-images.githubusercontent.com/83035995/152553577-a189b874-0f65-4812-8fab-f63b92d092ea.png)
@soujo i think their is an error in this have a look to it

[2022-02-04 16:07] soujo commented on #28
I am so sorry, I forgot to push the illustration itself in the code.
Do I have to create a new PR for the merge ? @The-Shivam-garg

[2022-02-04 16:47] The-Shivam-garg commented on #28
Fine do it .

On Fri, 4 Feb 2022, 9:37 p.m. Soujanya Hazra, ***@***.***>
wrote:

[2022-02-05 03:51] #6 closed

[2022-02-05 03:53] #28 closed

[2022-02-05 03:57] The-Shivam-garg commented on #4
@Ashwani-Verma-07 due to delay ,I am now assigning this issue to @combatantash

[2022-02-05 04:19] #13 closed

[2022-02-05 07:26] zugzwang03 commented on #12
Hey Shivam sir, I would like to work on this issue under JWOC.

[2022-02-05 07:49] The-Shivam-garg commented on #12
Sure you can start working on it.i will assign you the issue by the eve .

On Sat, 5 Feb 2022, 12:56 p.m. zugzwang03, ***@***.***> wrote:

[2022-02-05 11:51] barnik109 commented on #27
I want to try this issue under JWOC.

[2022-02-05 13:00] #18 closed

[2022-02-05 13:02] The-Shivam-garg commented on #27
Thank you @barnik109 for showing your interest in this issue, I have assigned this issue to you .

[2022-02-05 14:05] harshit-070 commented on #26
 I want to work on this issue under JWOC.

[2022-02-05 14:48] The-Shivam-garg commented on #26
Thank you @harshit-070 for showing your interest in this issue .I have assigned you this issue

[2022-02-05 17:33] barnik109 commented on #27
Can you please tell me more details about real time data updation and recreate bar?

[2022-02-06 03:56] barnik109 commented on #27
If we hit subscribe button,then the number of students enrolled will increase by one.Is it like that?

[2022-02-06 05:52] omkargurav10 commented on #35
I want to work on this issue @The-Shivam-garg

[2022-02-06 05:59] The-Shivam-garg commented on #27
sorry for the delay @barnik109, yeah! you got it . but inside of subscribe we want if someone signup on our website the number increase by one

[2022-02-06 06:00] The-Shivam-garg commented on #35
sure @omkargurav10 you can start working on this feature and make a 3rd page for the blog section

[2022-02-06 06:03] barnik109 commented on #27
But till now,we cannot do for sign up and sign in as its backend is not created.

[2022-02-06 06:08] The-Shivam-garg commented on #27
oh! someone is working on it , but anyways for now you can then go with subscribe part then

[2022-02-06 06:09] barnik109 commented on #27
Okay thanks.

[2022-02-06 13:03] barnik109 commented on #27
Students enrolled should I keep 2303 or 0?
And I have added the feature than whenever a user clicks on subscribe button then students enrolled will increase but even if they click subscribe button without emailing,then also the count will increase each and every time.

[2022-02-06 13:12] The-Shivam-garg commented on #27
No issue for now, its ohk .
Keep it 2303

On Sun, 6 Feb 2022, 6:33 p.m. barnik109, ***@***.***> wrote:

[2022-02-06 13:13] barnik109 commented on #27
Okay got it.

[2022-02-06 14:20] barnik109 commented on #25
I want to work on this issue .

[2022-02-07 18:20] barnik109 commented on #27
https://barnik109.github.io/BigB-E-learn-Websit-e/

[2022-02-07 18:22] barnik109 commented on #25
Can I save the response in google form?

[2022-02-07 18:36] The-Shivam-garg commented on #25
Try to find another alternative for this issue

On Mon, 7 Feb 2022, 11:55 p.m. barnik109, ***@***.***> wrote:

[2022-02-07 19:05] barnik109 commented on #25
Can I use google sheets with a new email which I will provide to you with the password?

[2022-02-08 12:16] omkargurav10 opened #53 "Limit Maximum height of image in Home Page"

[2022-02-08 15:43] barnik109 commented on #25
"What i want is, the moment student select the course , He / She want to enroll in. they will be directed to that particular course on the website"-Other than programming courses no extra courses are there so how should I redirect to the course?

[2022-02-09 05:00] The-Shivam-garg commented on #53
hey @omkargurav10 you can start working on this issue

[2022-02-09 14:20] barnik109 commented on #25
????

[2022-02-09 14:30] #53 closed

[2022-02-09 14:31] The-Shivam-garg opened #56 "feature:make the course pop up , responsive"

[2022-02-09 14:32] rohit-raj25 commented on #56
I want to work on this issue under JWOC.

[2022-02-09 14:35] The-Shivam-garg commented on #25
please dm me on discord ,I will share the details regarding this

On Wed, 9 Feb 2022 at 19:50, barnik109 ***@***.***> wrote:

[2022-02-09 14:35] The-Shivam-garg commented on #56
sure @rohit-raj25 you can start working on this issue

[2022-02-10 07:39] barnik109 commented on #26
I want to work on this issue under JWOC.

[2022-02-11 08:40] soujo opened #60 "Bug : Teach-on-BigB page not working"
Hi, @The-Shivam-garg.This issue was there for a long time. I think I got the solution. Kindly assign me under JWOC.

[2022-02-11 11:20] The-Shivam-garg commented on #60
sure @soujo

[2022-02-11 14:23] 03amir commented on #10
I want to work on this issue under JWOC

[2022-02-11 19:54] 03amir commented on #10
I want to work on this issue under JWOC

[2022-02-12 12:27] #60 closed

[2022-02-12 12:33] The-Shivam-garg opened #62 "BUG: Resolve the blog home page"
THIS :
![image](https://user-images.githubusercontent.com/83035995/153711442-48eb3539-47c5-4ff0-8052-a5f21a70acbf.png)

needs to be seems like this
![image](https://user-images.githubusercontent.com/83035995/153711430-f566bff9-afe7-4654-bf47-2dc4e05f1ab9.png)

[2022-02-12 14:26] ronitblenz commented on #9
I am making a PR so that I get 5 points (minor changes)

[2022-02-12 15:33] DarkFalc0n commented on #62
I want to work on this issue under JWOC

[2022-02-12 17:45] The-Shivam-garg commented on #62
sure @DarkFalc0n , You can start working on the issue.

[2022-02-13 05:11] sayan404 commented on #34
I want work in this issue under JWOC.

[2022-02-13 05:36] The-Shivam-garg commented on #34
yeah ! @sayan404 you can work on this site, this is my hashnode profile here you will get the blogs that are mentioned on the site. Do link them with my hashnode blogs https://hashnode.com/@Shiva12

[2022-02-13 10:11] soujo opened #64 "Feature : Increase stats while scrolling"
Currently, this stats section ( below image ) on the teach-on-Bigb page is static. Though we don't have a backend now, till then we can create an increasing number effect when someone scrolls the website. It will look more aesthetic.
If this idea looks fine to you then kindly assign me this issue, I want to work on this under JWOC
@The-Shivam-garg

![Screenshot (212)](https://user-images.githubuse

[2022-02-13 16:55] Srijita-Mandal opened #65 "Make a bottom to top button"
I want to add a button on this site to reach top from bottom. Can I work on this issue under JWOC?

[2022-02-13 18:49] ishitaac commented on #65
I want to work on this issue under JWoC

[2022-02-13 18:56] The-Shivam-garg commented on #65
sure @Srijita-Mandal , You can work on this issue.

[2022-02-13 18:57] #64 closed, assigned to soujo

[2022-02-14 10:54] sayan404 commented on #34
Hi @The-Shivam-garg , I am not getting all the links of the courses mentioned  in the web page . What should I do ?

[2022-02-14 16:51] Srijita-Mandal opened #68 "Improve navbar"
In the website, all pages are not properly linked through navbar. Also, Navbar is not fixed at the top position. Can I work on this issue under JWOC, to improve the navbar?

[2022-02-15 14:24] Bijit-Mondal opened #69 "Adding The Sign In Method With Email Using Supabase"
I Will Let the user be able to sign in

[2022-02-15 15:33] Shruti025 commented on #56
hey can I work on this issue under JWOC?

[2022-02-15 15:34] Shruti025 commented on #56
hey @The-Shivam-garg can I work on this issue under JWOC?

[2022-02-16 11:58] Bijit-Mondal commented on #26
Is it done?

[2022-02-16 14:49] #65 closed

[2022-02-16 14:53] The-Shivam-garg commented on #34
hey @sayan404 , just search over google and link any relatable blog with it.

[2022-02-16 14:55] The-Shivam-garg commented on #56
sure @Shruti025 you can start working on this

[2022-02-16 14:58] The-Shivam-garg commented on #68
sure! @Srijita-Mandal , You can work on it,

[2022-02-16 14:59] The-Shivam-garg commented on #69
sure @Bijit-Mondal you can start working on this issue

[2022-02-16 15:05] The-Shivam-garg commented on #26
hey @harshit-070 have you done with the issue ?

[2022-02-16 15:16] sayan404 commented on #34
ok @The-Shivam-garg  ... although i have made a pr . i will merge the links and will update the pr .. is it ok ?

[2022-02-16 19:49] sayan404 commented on #34
@The-Shivam-garg  I have made  an another PR .

[2022-02-17 07:10] harshit-070 commented on #26
Message you in discord but you didn't reply

[2022-02-17 07:19] Shruti025 commented on #62
Is this issue still unresolved @The-Shivam-garg? If yes then I can work on it under JWOC

[2022-02-17 12:11] The-Shivam-garg commented on #62
Thank you @shruti for showing your interest in this issue , But it is
already assign to someone.and he is working on it.

On Thu, 17 Feb 2022, 12:49 p.m. Shruti Goyal, ***@***.***>
wrote:

[2022-02-17 12:31] Shruti025 commented on #62
okay no problem, thanks for informing :)

[2022-02-18 13:34] riiyaaa commented on #68
I would like to work on this issue under JWOC

[2022-02-18 13:42] The-Shivam-garg commented on #68
thank you @riiyaaa for showing your interest in this issue , But this issue is currently allotted to someone else .I would suggest you to explore the website and come up with a creative change or some bug you want to fix.

[2022-02-18 14:03] The-Shivam-garg commented on #4
sure, @riiyaaa you can start working on this issue.

[2022-02-20 06:08] Shruti025 opened #76 "Responsiveness bug in Contact Us and Courses Pages"
The content is hiding behind the navbar for smaller widths for the Contact Us and Courses Pages.
![image](https://media.discordapp.net/attachments/936701305882284135/944257948882993212/unknown.png?width=485&height=586)
![image](https://media.discordapp.net/attachments/936701305882284135/944258284498608139/unknown.png?width=407&height=586)

[2022-02-20 06:09] Shruti025 commented on #76
I want to work on this under JWOC

[2022-02-20 06:16] The-Shivam-garg commented on #76
Sure !

On Sun, 20 Feb 2022, 11:39 a.m. Shruti Goyal, ***@***.***>
wrote:

[2022-02-20 12:25] #69 closed

[2022-02-20 13:49] Bijit-Mondal opened #78 "Adding Forgot Password Recovery Feature"
I Want To Implement that

[2022-02-20 18:15] #76 closed

[2022-02-21 03:51] Bijit-Mondal commented on #78
Assign me

[2022-02-22 14:01] #4 closed

[2022-02-22 14:03] The-Shivam-garg commented on #78
sure!

[2022-02-22 18:26] riiyaaa opened #80 "CSS enhancement of subscribe section"
I would like to add a hover effect on subscribe button and make the placeholder disappear when clicked on. <br>
![unknown](https://user-images.githubusercontent.com/87305761/155195457-513696be-3317-49a5-8e6a-ae1818facc49.png)

[2022-02-22 18:26] riiyaaa commented on #80
I would like to work on it under JWOC

[2022-02-23 14:14] Bijit-Mondal commented on #78
Give Me Some TIme

[2022-02-23 14:26] soujo opened #81 "Enhancement of online course section"
Currently, the online course section ( given below ) form validation is not correct and it is done using `alert` in javascript which is not that good looking.
I want to modify the form validation and a few things using good UI error pop-up msg.
Kindly assign me this issue @The-Shivam-garg
![Screenshot (217)](https://user-images.githubusercontent.com/78646418/155338486-bbec4285-c914-4f5b-bc3d-5e27f

[2022-02-23 17:12] sayan404 commented on #3
I  Want to work in this issue under JWOC . @The-Shivam-garg

[2022-02-23 17:51] The-Shivam-garg commented on #81
sure @soujo , You can start working on this issue

[2022-02-23 17:52] The-Shivam-garg commented on #80
sure @riiyaaa you can start working on this issue

[2022-02-23 18:46] AjeetSingh2016 opened #82 "Issue: Link is not behaving as expected!"
Currently, On the [Contact us](https://rb.gy/s5llgz) page, Home link is not working fine it redirects to the **404** page.

I would like to resolve this issue. Please assign me on this @The-Shivam-garg

**Images**
![oss ss](https://user-images.githubusercontent.com/80536741/155386327-451bce7e-16f5-4338-a75b-1c320a80c26f.png)

![ss oss](https://user-images.githubusercontent.com/80536741/155386403-9

[2022-02-24 05:31] Shruti025 opened #83 "Features Page Issue"
- The content is hiding behind the screen
- We can have hamburger menu for smaller screens

![image](https://user-images.githubusercontent.com/72005584/155463732-37365ca7-2ed9-4b78-94ce-d7e75175e61d.png)
![image](https://user-images.githubusercontent.com/72005584/155463800-3688b083-7ef8-4e8b-a859-b487a6de3fcd.png)

[2022-02-24 05:31] Shruti025 commented on #83
I want to work on this under JWOC

[2022-02-24 07:14] Shruti025 commented on #68
hey @Srijita-Mandal are you working on this issue?

[2022-02-24 14:01] #80 closed

[2022-02-24 14:02] The-Shivam-garg commented on #83
sure @Shruti025 you can start working on this issue

[2022-02-24 14:03] The-Shivam-garg commented on #82
sure @AjeetSingh2016 you can start working on this ,but please clarify this are you jwoc contributor ?

[2022-02-24 14:06] AjeetSingh2016 commented on #82
No,  i am not contributing under jwoc.

[2022-02-24 14:11] The-Shivam-garg commented on #82
ohk cool !

[2022-02-24 20:16] AjeetSingh2016 commented on #82
There is one more issue on the Blog page, **Features** button of the navbar is not working,
Can I move further to this problem?
![ossss](https://user-images.githubusercontent.com/80536741/155600494-9376f07a-24b3-4792-832e-5546842c96c4.png)

[2022-02-25 06:10] The-Shivam-garg commented on #82
sure you can!

[2022-02-25 06:10] #82 closed

[2022-02-25 19:00] Mohit-1909 commented on #3
Sir I would like to work on this under GSSOC

[2022-02-25 19:36] tanya-gupta25 opened #88 "Direct logo of website to index.html page"

[2022-02-25 19:36] tanya-gupta25 commented on #88
I want to work on this issue under JWOC

[2022-02-26 04:28] 03amir commented on #8
I want to work on this issue under JWOC

[2022-02-26 12:13] Srijita-Mandal commented on #68
No.. I am not working now on this

[2022-02-26 16:10] #83 closed

[2022-02-27 17:51] 03amir commented on #78
i want to work on this issue under JWOC

[2022-02-27 18:41] tanya-gupta25 commented on #68
I want to work on this issue under JWOC.

[2022-02-28 17:31] ABHID10 opened #92 "Text formatting in Team.html"
No proper text alignment in https://the-shivam-garg.github.io/BigB-E-learn-Websit-e/about/team.html# page.
GSSOC-22

[2022-02-28 18:10] shubhsardana29 commented on #68
I am a GSSOC'22 participant, I want to work on this issue.

[2022-03-01 01:39] afreenabegum commented on #11
Hi @The-Shivam-garg
I would like to work on this !! Can you please assign it to me under Jwoc.

Thank you.

[2022-03-01 02:05] The-Shivam-garg commented on #11
Sure you can start working on it! I will assign you in a while.

On Tue, 1 Mar 2022, 7:10 a.m. Afreena Begum, ***@***.***>
wrote:

[2022-03-01 02:08] The-Shivam-garg commented on #68
Sure @shubh Sardana you can start working on it. I will assign you in a
while

On Mon, 28 Feb 2022, 11:40 p.m. Shubh Sardana, ***@***.***>
wrote:

[2022-03-01 03:37] afreenabegum commented on #11
okay @The-Shivam-garg .

[2022-03-01 07:36] afreenabegum commented on #11
@The-Shivam-garg , In how much while can you assign it to me?

[2022-03-01 07:58] 19arnab190201 opened #93 "improving "Why Education" section with better ui components"
improving the existing design with better layout & Structure for better look and feel

[2022-03-01 08:18] sayan404 opened #94 "Links in the features section is not working"
Links in the features section is not working

[2022-03-01 08:19] sayan404 commented on #94
I want to work in this issue under JWOC

[2022-03-01 08:43] sayan404 opened #95 "[Bug]: Font style in the "Blogs" page's Header portion is changing ."
The font style of the header portion is changing while browsing in the Blogs page only ,which is unnatural compering with the other pages

Home page's Font style ...
![Screenshot 2022-03-01 135151](https://user-images.githubusercontent.com/95490367/156134621-0fe745c4-b95d-42e5-a888-11bb119c0a93.png)

Blogs' page's Font style  ...

![Screenshot 2022-03-01 135320](https://user-images.githubuserconte

[2022-03-01 08:43] sayan404 commented on #95
I want to work in this issue under JWOC

[2022-03-01 09:23] AshutoshDash1999 opened #96 "Improve subscribe newsletter section"
The subscribe newsletter doesn't look good.

Can I improve it? Please assign this issue to me.

![image](https://user-images.githubusercontent.com/46455250/156141423-fcf91784-0a77-4de7-b60b-4b40be48f090.png)

[2022-03-01 12:05] aishwaryas15 opened #97 "Addition of a better UI page of "Team"."
The team page looks good as of now but it looks kind of empty. So I would like to improve the team page with better UI and addition of animations.

[2022-03-01 12:07] aishwaryas15 opened #98 "To change the font for the "Blog" page"
The web design is good but the font needs to be changed. The change in font will definitely give a good user experience.

[2022-03-01 15:31] Pradumnasaraf opened #99 "docs: Add PR Template"
### Chnages
- Adding a PR template
- Template path **`.github/PULL_REQUEST_TEMPLATE.md`**

### Template Preview (while creating a PR.)
![Screenshot from 2022-03-01 17-54-32](https://user-images.githubusercontent.com/51878265/156168840-66822d65-3e60-4026-8064-f967d66cf94b.png)

#### Due to that we are also missing out on

![Screenshot from 2022-03-01 21-00-07](https://user-images.githubusercontent.

[2022-03-01 15:36] Pradumnasaraf opened #100 "docs: Add Issue templates"
### Chnages
- Adding Issue templates
- Template path **`.github/ISSUE_TEMPLATE`**

###Template Types
![Screenshot from 2022-03-01 21-03-49](https://user-images.githubusercontent.com/51878265/156198784-b2e8d551-3df4-4aff-a7c7-051a88c344c0.png)

### Template Preview (while creating an issue - bug.)
![Screenshot from 2022-03-01 18-03-48](https://user-images.githubusercontent.com/51878265/156169861-53

[2022-03-01 15:40] Pradumnasaraf opened #101 "docs: Add Code of Conduct"
### Changes
- Add official `CODE_OF_CONDUCT.md` (provided by GitHub)

####  Due to that we are also missing out on some checks on the community standards checklist

![Screenshot from 2022-03-01 21-00-07](https://user-images.githubusercontent.com/51878265/156198146-17771699-c3a3-4589-8a76-fd987c5ea4bd.png)

### Also, Please provide an Email to include that in the Code of Conduct

#### Contribution

[2022-03-01 17:11] The-Shivam-garg commented on #101
Thanks @Pradumnasaraf for finding the issue in documentation , you can start working on this

[2022-03-01 17:12] Pradumnasaraf commented on #101
Thank you :), Please provide an Email to include that in the Code of Conduct

[2022-03-01 17:13] Pradumnasaraf commented on #101
Thank you @The-Shivam-garg  :), Please provide an Email to include that in the Code of Conduct

[2022-03-01 17:13] The-Shivam-garg commented on #99
Thanks @Pradumnasaraf for finding the issue in documentation , you can start working on this

[2022-03-01 17:17] The-Shivam-garg commented on #98
Thanks @aishwaryas15  for finding the recommendation , you can start working on this

[2022-03-01 17:19] The-Shivam-garg commented on #93
Thanks @19arnab190201 for your recommendation , you can start working on this

[2022-03-01 17:20] The-Shivam-garg commented on #96
Thanks @AshutoshDash1999 for your recommendation , you can start working on this

[2022-03-01 17:21] The-Shivam-garg commented on #94
Thanks @sayan404  for finding the issue in documentation , you can start working on this

[2022-03-01 17:22] The-Shivam-garg commented on #95
Thanks @sayan404  for finding the issue in documentation , you can start working on this

[2022-03-01 17:34] The-Shivam-garg opened #102 "Enhancement : Design a UI for Counselling Page"
![image](https://user-images.githubusercontent.com/83035995/156218884-3f529bff-3ce4-49cb-9dea-ba6218c81bd3.png)

Hey contributor,
I want you to create  a new page for counselling and make it redirecting through this Get Counselling button.

[2022-03-01 17:38] The-Shivam-garg opened #103 "Change the Feedback Content"
![image](https://user-images.githubusercontent.com/83035995/156219468-8f09d176-5555-49da-a697-ae6752bc0187.png)

Make it more person specific ,change the Following :
1.Name  (ex: Aman )
2.Email    (ex: aman12@gmail.com)
3.Image of person
4.Feedback (write more personalized feedbacks)

[2022-03-01 17:42] The-Shivam-garg opened #104 "Enhancement : Change the UI of Feedback section."
![image](https://user-images.githubusercontent.com/83035995/156220178-afdfbc21-907e-4b4d-a43b-844431020f6b.png)

[2022-03-01 17:47] The-Shivam-garg opened #105 "Enhancement : Add the Email in the footer section."
![image](https://user-images.githubusercontent.com/83035995/156220638-854e51ce-434b-4e86-8cb4-b222d9a67fb2.png)

Hey contributor,
I want you to add the email ,down below in the HAVE A QUESTION ? section.

##Output Preview
**Have a Question?**
-  Exist Somewhere in BHARAT, Earth
-  1234-567-891
-  info@BigB.com
-  bigbeduwebsite@gmail.com

[2022-03-01 17:50] The-Shivam-garg opened #106 "Enhancement : Change the Ui of Teach Page"
![image](https://user-images.githubusercontent.com/83035995/156221715-56e7edda-d0e7-4a95-9325-6321e1d77be2.png)

[2022-03-01 18:02] The-Shivam-garg opened #107 "Enhancement : Design the UI for course page."
![image](https://user-images.githubusercontent.com/83035995/156222763-d03ddac0-dcdd-41e9-94ae-e1c303aa80b1.png)

Hey contributor,
I want you to design the UI of course page in such a way that it is divided into various section
1. Academic
2. Non-Academic
3. Book section
4. or anything that is coming to your mind which can be a good fit for this.

then direct the Academic Section of your page to pr

[2022-03-01 18:09] The-Shivam-garg commented on #11
@afreenabegum assigned

[2022-03-01 18:12] The-Shivam-garg opened #108 "Enhancement: Design the more attractive UI for the Feature page"
![image](https://user-images.githubusercontent.com/83035995/156224938-001ba711-638e-4166-ac61-4344eb2971ed.png)

[2022-03-01 18:13] The-Shivam-garg opened #109 "Enhancement : Change the pop-up Card Content"
![image](https://user-images.githubusercontent.com/83035995/156225173-947a341e-6b85-4e3e-a71b-2a2270ff9328.png)

[2022-03-01 18:20] The-Shivam-garg opened #111 "Feature: Create the new page for the Saved option."
![image](https://user-images.githubusercontent.com/83035995/156225837-ec5ec31f-af66-4180-870c-de1241f0b741.png)

Hey contributor,
I want you to design the page for the saved, So that people can get their saved course at one place.

[2022-03-01 18:23] #92 closed

[2022-03-01 18:27] ABHID10 commented on #92
Thanks 🙏 !!
@The-Shivam-garg
Indeed a very active and amazing community!!

[2022-03-01 18:42] tanya-gupta25 commented on #104
I want to work on this issue under GSSOC

[2022-03-01 18:47] tanya-gupta25 commented on #107
I want to work on this issue under GSSOC

[2022-03-01 19:11] the-centinal commented on #109
please assign this task to  me under GSSOC 2022

[2022-03-01 19:14] the-centinal commented on #106
please assign this task to me under GSSOC 2022

[2022-03-01 19:25] TG922 commented on #109
Hey! Admin I would like to work on this issue under GSSoC'22 . Please Assign me with this issue .

[2022-03-01 19:27] TG922 commented on #105
Hey! Admin I would like to work on this issue under GSSoC'22 . Please Assign me with this issue .

[2022-03-01 19:34] TG922 commented on #108
Hey! Admin I would like to work on this issue under GSSoC'22 . Please Assign me with this issue .

[2022-03-01 19:42] artimanputra commented on #102
Hey, I would like to work on this issue. Can please you assign it to me?

[2022-03-01 20:39] AjeetSingh2016 opened #112 "Enhancement: Add animated counter on scrolling"
## Description
- On the home page, down there counts of various items are provided,
-  I want to add an animated counter effect on scrolling down.
## Screenshot

**When someone scrolls down the page to this section all count of items starts increasing from zero and ends up at the targeted count.**

#### Please assign me on this under **GSSOC**.
![gssoc ss2](https://user-images.githubusercontent.co

[2022-03-01 20:57] AjeetSingh2016 commented on #106
- There are certain requirements? or I can enhance the UI according to me.
**Please assign me on this issue.**

[2022-03-02 00:55] TG922 commented on #111
Hey! Admin I would like to work on this issue under GSSoC'22 . Please Assign me with this issue .

[2022-03-02 02:44] TG922 opened #113 "Enhancement: Add custom scroll bar"
### Description

- I want to add custom scroll bar for this website.

### Screenshot

- Please assign me on this issue this under GSSOC.

![Image](https://user-images.githubusercontent.com/70098839/156284321-2ffa2d97-7bdb-498c-bd3d-a88a87227566.PNG)

[2022-03-02 02:44] TG922 opened #114 "Enhancement: Add custom scroll bar"
### Description

- I want to add custom scroll bar for this website.

### Screenshot

- Please assign me on this issue under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/156284321-2ffa2d97-7bdb-498c-bd3d-a88a87227566.PNG)

[2022-03-02 02:45] #113 closed

[2022-03-02 03:09] TG922 opened #115 "Adding Sticky Header Feature"
### Description

- I want to add sticky header for this website.
- This feature will help user to easily move to other parts of your website without having to scroll all the way to the very top.

### Screenshot

- Please assign me on this feature under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/156287090-b5e40277-893b-40a7-a544-b1f46def89f9.PNG)

[2022-03-02 03:19] TG922 opened #116 "Enhancement : Expanding Underlined text animation on hover"
### Description

- I want to add underlined text animation on hover for this website.

### Screenshot

- Please assign me on this issue this under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/156288332-2d5326ee-ac4e-46e8-a81e-2ea897dd995c.PNG)

[2022-03-02 03:35] Atif0604 commented on #105
Hey @The-Shivam-garg Please assign under GSSOC'22

[2022-03-02 03:36] Atif0604 commented on #103
Hey @The-Shivam-garg Please assign under GSSOC'22

[2022-03-02 03:38] TG922 opened #117 "Enhancement : Adding smooth transition effect to links"
### Description

- On the home page, while clicking on **about** the page jumps to about section without any effect.
- I want to add smooth page scroll effect for this website when clicking hyperlinks.

### Screenshot

- Please assign me on adding this effect under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/156289582-0eb275c6-d45b-447b-889b-4fea8b5bf305.PNG)

[2022-03-02 05:04] The-Shivam-garg commented on #109
Thanks for showing interest but for now ,I'm assigning this issue to @the-centinal .Till then you guys can explore the website and pre-issues that are mentioned in the issue section ,to find the issue you might be interested in working.

[2022-03-02 05:05] The-Shivam-garg commented on #116
Thanks for showing interest  ,I'm assigning this issue to @TG922

[2022-03-02 05:07] The-Shivam-garg commented on #114
Thanks for showing interest ,I'm assigning this issue to @TG922

[2022-03-02 05:09] The-Shivam-garg commented on #104
Thanks for showing interest but for now ,I'm assigning this issue to @tanya-gupta25  .Till then you guys can explore the website and pre-issues that are mentioned in the issue section ,to find the issue you might be interested in working.

[2022-03-02 05:12] AjeetSingh2016 commented on #106
okay cool!

[2022-03-02 05:14] The-Shivam-garg commented on #102
Thanks for showing interest but for now ,I'm assigning this issue to @artimanputra  .Till then you guys can explore the website and pre-issues that are mentioned in the issue section ,to find the issue you might be interested in working.

[2022-03-02 05:39] The-Shivam-garg opened #119 "Enhancement : ADD the email in the Readme.md"
![image](https://user-images.githubusercontent.com/83035995/156301717-8f2a4674-dffa-412f-aa4d-f9f631496f21.png)

Hey contributor,
I want you to add the Email id of this site in readme above the **In Development Phase** with the suitable statement.

Email: bigbeduwebsite@gmail.com

[2022-03-02 05:40] The-Shivam-garg commented on #108
Thanks for showing interest but for now ,I'm assigning this issue to @Pragatii08  .Till then you guys can explore the website and pre-issues that are mentioned in the issue section ,to find the issue you might be interested in working.

[2022-03-02 06:19] kheya19 opened #120 "Improve footer UI"
improving the existing design for a better feel

[2022-03-02 06:44] akki251 opened #121 "IMPROVING AND FIXING entire UI of the website"
Hello, Shivam. back in 2020...
I've developed and designed a number of websites and worked closely with UI/Ux designers and leads since 2020, and with that expertise, I've found several major and minor fixes and enhancements that will help BigB-e-Learn UI
and UX reach the next level. , I'm attaching a detailed JPEG; please zoom it in to see it well, and if possible, pin this issue so that more peo

[2022-03-02 07:38] 19arnab190201 commented on #93
Please check a your mail i have shared you the screenshots [shivanshagarwal2020@gmail.com]
Subject of mail : BigB Update(Why Edu Section)

Thank you

[2022-03-02 08:55] Sandhya312 commented on #119
@The-Shivam-garg
I want to complete this issue. Please assign it to me.

[2022-03-02 09:23] Mohit-1909 commented on #94
I would like to work on this issue under GSSOC22

[2022-03-02 10:31] Kumar-laxmi opened #123 "Feature: Create a separate new page for Events"
There is a link of event in footer, so I can create an link the event page.

[2022-03-02 11:28] sarikamuthu opened #126 "Footer UI"
I would like to improve the footer of the Website.Please assign me the task.

[2022-03-02 13:56] BabyElias opened #128 "Improve layout of Text"
Hey @The-Shivam-garg ,I would like to improve the presentation of text on Courses page (under Courses.html file).Please assign me this issue under GSSOC'22.
![snip](https://user-images.githubusercontent.com/95405559/156375197-5696bab8-2e35-42ea-9a29-ff3e8e729b3e.PNG)

[2022-03-02 13:58] BabyElias commented on #121
I would also like to collaborate on this, if given a chance under GSSOC'22.

[2022-03-02 16:42] The-Arshad-Khan commented on #119
@The-Shivam-garg I'd like to Complete This Issue; Please Assign it To ME!, Under GSSOC'22

[2022-03-02 17:05] The-Shivam-garg commented on #119
Thanks for showing interest but for now ,I'm assigning this issue to @Sandhya312  .Till then you guys can explore the website and pre-issues that are mentioned in the issue section ,to find the issue you might be interested in working.

[2022-03-02 17:11] The-Shivam-garg opened #131 "Enhancement: Replace former Techbenchers Logo to our new Community SideHustlers."
![image](https://user-images.githubusercontent.com/83035995/156412370-abe9b8d2-770a-4cb6-9609-474e11b8224f.png)

[2022-03-02 17:12] The-Arshad-Khan commented on #131
Assign This issue to me Under GSSOC'22

[2022-03-02 17:13] The-Arshad-Khan commented on #131
THemks

[2022-03-02 17:14] The-Shivam-garg commented on #131
Thanks @The-Arshad-Khan for  showing your interest.

[2022-03-02 17:15] The-Shivam-garg commented on #126
Thanks @sarikamuthu for showing your interest ,I have assigned this issue @sarikamuthu

[2022-03-02 17:19] The-Shivam-garg commented on #121
Thanks @akki251 for recommending the issue this project has, will surely concern about it. If you are interested in working on any of these issue let me know.

[2022-03-02 17:22] The-Shivam-garg commented on #120
sure @kheya19 you can start working on this issue.

[2022-03-02 17:22] The-Shivam-garg commented on #115
sure @TG922 you can start working on this.

[2022-03-02 17:26] The-Shivam-garg opened #132 "Enhancement: Fix the issue in the Homepage"
![bigb1](https://user-images.githubusercontent.com/83035995/156415507-d25ba27e-8556-4aeb-854c-1cd9fc350a51.jpg)

[2022-03-02 17:27] saketsagarsingh commented on #132
/assign

[2022-03-02 17:30] The-Shivam-garg opened #133 "Enhancement: Change the icon colors in the Homepage"
![bigb2](https://user-images.githubusercontent.com/83035995/156415707-e52167ff-6b88-461b-a512-d770c01417f8.jpg)

[2022-03-02 17:32] The-Shivam-garg opened #134 "Enhancement: Add a Background image in the Feedback section"
![bigb3](https://user-images.githubusercontent.com/83035995/156416088-a4d17100-a523-440f-bb3d-4c6f6c0b59d9.jpg)

[2022-03-02 17:33] The-Shivam-garg opened #135 "Enhancement: Resolve the Spacing & alignment issue"
![bigb4](https://user-images.githubusercontent.com/83035995/156416348-d2a8eb00-6ba7-4245-b115-9b5798abda15.jpg)

[2022-03-02 17:35] The-Shivam-garg opened #136 "Enhancement: Make the parameter bar more attractive."
![bigb5](https://user-images.githubusercontent.com/83035995/156416570-4bb63da1-ade2-4931-ae83-f3295d5ee0de.jpg)

[2022-03-02 17:36] The-Shivam-garg commented on #133
Thanks for showing the interest @saketsagarsingh ,I have assigned this issue.

[2022-03-02 17:37] the-centinal commented on #135
please assign this task to me under GSSOC2022

[2022-03-02 17:37] The-Shivam-garg commented on #134
Thanks for showing the interest in this issue, I have assigned this issue to @saketsagarsingh

[2022-03-02 17:40] #109 closed

[2022-03-02 17:40] the-centinal opened #137 "Footer is not same in all of the pages"
Footer is not same in all the pages . which makes bad impression., so make same  footer for all the pages

[2022-03-02 17:41] the-centinal commented on #137
@admin please assign this issue to me under GSSOC22

[2022-03-02 17:44] #101 closed

[2022-03-02 17:46] BabyElias commented on #136
Like what colors, if you have any idea in mind? Will surely try working on it once clear with the intended color palette.

[2022-03-02 17:52] The-Shivam-garg commented on #136
hey @BabyElias , I'm not sure about the color yet .But as i have one recommendation for this ,for the time you can go with that if you find that suitable .
![bigb6](https://user-images.githubusercontent.com/83035995/156419575-1fbcce56-3809-415d-9cde-09fab72f013c.jpg)

[2022-03-02 17:57] the-centinal commented on #135
sir exactly what i have to do with the border of image , should i make it cover all the image or remove it??

[2022-03-02 18:06] BabyElias commented on #136
Ok.Thanks.

[2022-03-02 18:26] #95 closed

[2022-03-02 19:05] Mohit-1909 commented on #105
@The-Shivam-garg I can work on this issue faster, Can you please assign this issue to me?

[2022-03-02 19:06] akki251 commented on #121
Yes, I would like to work on these two issues , Please assign it under Gssoc'22 and give atleast level-2, cause these might take time
![image](https://user-images.githubusercontent.com/67007034/156430747-506e0e02-a1a6-4db6-9d20-c37d1788da48.png)
![image](https://user-images.githubusercontent.com/67007034/156430881-74521455-6e0c-46b9-b48c-9ba33ea61c75.png)

[2022-03-02 19:25] Sandhya312 commented on #119
Thank you so much for assigning me this issue.

[2022-03-03 01:43] Kumar-laxmi commented on #123
I haven't been assigned yet

[2022-03-03 02:29] The-Shivam-garg commented on #123
We dont need a event page.instead you can change that event with something
else in the footer which will be more relevant with the Project.

On Thu, 3 Mar 2022, 7:14 a.m. Kumar Laxmikant, ***@***.***>
wrote:

[2022-03-03 02:40] Kumar-laxmi commented on #123
Actually you can have it like this
![Screenshot 2022-03-03 081029](https://user-images.githubusercontent.com/76027425/156485904-49d7b8a5-131f-4d9d-88eb-9da09116a858.png)

[2022-03-03 02:42] Kumar-laxmi commented on #123
This image is just a sample

[2022-03-03 02:42] Kumar-laxmi commented on #123
On that you can hackathons, quizzes, or other educational competitions

[2022-03-03 03:59] Atif0604 commented on #8
Hey @The-Shivam-garg pleas assign under GSSOC'22

[2022-03-03 04:47] rohinish404 opened #142 "The contents under why education are not centered properly."
-Left and right spacing are not equal so it is giving bad impression.
**EXPECTED BEHABIOUR**
-It should be centered properly.

<img width="1440" alt="Screenshot 2022-03-03 at 10 11 43 AM" src="https://user-images.githubusercontent.com/92542124/156497601-f558a6b7-fc2f-4b29-a7f5-d346431db7c8.png">
<img width="1440" alt="Screenshot 2022-03-03 at 10 13 19 AM" src="https://user-images.githubusercontent

[2022-03-03 06:05] Sandhya312 commented on #119
Hey @The-Shivam-garg, I update the readme.md. Please checkout the pullrequest **Update the readme.md #143**.

[2022-03-03 06:38] #93 closed

[2022-03-03 06:45] The-Shivam-garg commented on #142
Thanks for recommendation @rohinish404 you can start working on this issue.

[2022-03-03 06:45] The-Shivam-garg commented on #135
cover all the image

[2022-03-03 06:47] The-Shivam-garg commented on #123
Seems Cool! @Kumar-laxmi you can start working on this issue

[2022-03-03 06:47] Kumar-laxmi commented on #123
yeah thanks

[2022-03-03 06:52] The-Shivam-garg commented on #121
Sorry @akki251 this issue is already assigned to the another contributor

[2022-03-03 07:03] #94 closed

[2022-03-03 07:14] rohinish404 commented on #142
i visited the website once again and now the contents are perfectly centered😯
<img width="1440" alt="Screenshot 2022-03-03 at 12 42 30 PM" src="https://user-images.githubusercontent.com/92542124/156515038-9e26e15e-5f84-4b7d-af24-eafb383b4ce9.png">

[2022-03-03 10:21] AmanDeep9925 opened #146 "Inconsistency in blob radius"
As the home page loaded after opening the website the blob note that shows for the first time, it have inconsistency in the border radius. It doesn't feel perfect regarding UI and overall experience of the application.
![image](https://user-images.githubusercontent.com/26117610/156545130-97c132cc-13aa-4702-9af3-b97690ce8828.png)
Please have a look at it.

I would like to fix it.
Please assign this

[2022-03-03 11:26] Bijit-Mondal opened #148 "Making a dynamic blog page"
Assign please

[2022-03-03 11:34] Mohit-1909 commented on #3
Is this issue still open I would like to work on it under GSSoC

[2022-03-03 13:34] ranafathi opened #149 "Enhancement: Spelling and wording check"
Some paragraphs and buttons have wrong spelling and grammar usage, which affects the users' ability to read and clearly understand content. I would like to help fix this issue.

![Uploading Untitled.png…]()

[2022-03-03 13:45] ranafathi opened #150 "Inconsistent Feedback Look"
This is what feedback currently looks like:
![issue2](https://user-images.githubusercontent.com/45921220/156576225-42bf0acd-50cb-4489-8883-fa980f8a207b.png)

Which is not consistent and overall may be off-putting to users, I think something like scrolling cards of the same size could be a better solution.
![issue2-2](https://user-images.githubusercontent.com/45921220/156576891-d4717a71-e690-4490-b

[2022-03-03 14:10] afreenabegum commented on #11
@The-Shivam-garg .
I can do animation video for this website. But how can I link it to the web-page?

[2022-03-03 14:33] alphaayu commented on #131
can you please assign it to me

[2022-03-03 15:06] #105 closed

[2022-03-03 15:11] Stuti-0310 commented on #148
Please assign me this issue for gssoc'22

[2022-03-03 15:12] The-Shivam-garg commented on #150
Thanks @ranafathi for your recommendation , this issue is already mentioned before ,and assigned too. HOPE you will find some more interesting issue to work on .Best wishes for your future contribution. :)

[2022-03-03 15:12] Stuti-0310 commented on #149
Assign me this issue for gssoc'22

[2022-03-03 15:14] The-Shivam-garg commented on #149
Thanks for showing interest in this issue but for now I'm assigning this issue to @ranafathi . I would recommend other contributors to explore the website and issue mentioned in issue section .

[2022-03-03 15:15] The-Shivam-garg commented on #148
Thanks for showing interest in this issue but for now I'm assigning this issue to @Bijit-Mondal . I would recommend other contributors to explore the website and issue mentioned in issue section .

[2022-03-03 15:16] The-Shivam-garg commented on #146
Thanks for showing interest in this issue , I'm assigning this issue to @AmanDeep9925 .

[2022-03-03 15:19] The-Shivam-garg commented on #131
Thanks for showing interest in this issue but the issue is already resolved . I would recommend  contributors to explore the website and issue mentioned in issue section .

[2022-03-03 15:19] #131 closed

[2022-03-03 15:22] The-Shivam-garg commented on #11
You  can take help from this video ,if still you face any issue ,Feel free to reach me out
 https://youtu.be/bhGUuJCjgcU

[2022-03-03 15:29] AmanDeep9925 commented on #146
I will update it as soon as possible

[2022-03-03 16:35] afreenabegum commented on #11
@The-Shivam-garg .Got it but the issue is Animation right? but the suggested video is a design , Are they same?
And is it possible if I can create a animation video and link it to the html page?

[2022-03-03 16:44] AmanDeep9925 commented on #146
@The-Shivam-garg as I have taken up the code for my local setup. I have encountered some error in the index.html file as it shows this <<<< HEAD
<<<< HEAD
/...
HTML file content
.../

I doesn't understand this as it shows some conflict in merging with someone PR or I haven't taken up the latest code please check it out once.
As I don't wanna cause some ambiguity for the same file as it shows error

[2022-03-03 16:57] AmanDeep9925 commented on #146
@The-Shivam-garg Please find the attached clip for this message as the main branch shows triplets of the code may be there is a merge conflict. Some one please take it up it looks bad and confusing for

https://user-images.githubusercontent.com/26117610/156613077-d32d1738-8c11-47d9-8bf7-845cebc4edd0.mp4

[2022-03-03 17:49] The-Shivam-garg commented on #146
Resolved thanks for informing me

[2022-03-03 17:53] #14 closed

[2022-03-03 17:54] The-Shivam-garg opened #153 "Feature : Add a Interactive bot"

[2022-03-03 18:08] #146 closed

[2022-03-03 19:27] Mohit-1909 commented on #3
Thank You sir I'll start working on this.

[2022-03-03 20:07] Mohit-1909 commented on #153
@The-Shivam-garg I would like to work on this, please assign this to me.

[2022-03-03 20:34] Mohit-1909 commented on #3
@The-Shivam-garg  I placed a pr #155 please check it out. Also wanted a suggestion that I wanted to add NEET course in it as there is one for JEE, is it okay to do so? cause it would ne also added in header of the course section. So should I go ahead with this idea?

[2022-03-04 08:10] Kumar-laxmi opened #158 "Feature: Creation of Registration Page"
A link of registration is provided in Footer section.

So, I can create a new registration page and link to it.

[2022-03-04 09:35] Anirban-1490 opened #159 "Hover Effect on cards in Home and Blogs Page"
I want to work on this under GSSOC22

also don't know if there is a issue on this currently opened

On this cards
![Opera Snapshot_2022-03-04_150339_the-shivam-garg github io](https://user-images.githubusercontent.com/82874704/156738215-292e5d39-c5f8-4d13-a552-69095a4d32ad.png)
![Opera Snapshot_2022-03-04_150402_the-shivam-garg github io](https://user-images.githubusercontent.com/82874704/15673823

[2022-03-04 10:46] HarshKumarChoudary commented on #153
I'm GSSOC 22 contributor. If this issue is still available, please assign it to me. Also please add GSSOC22 label for that. Thanks

[2022-03-04 10:47] HarshKumarChoudary commented on #134
I'm GSSOC 22 contributor. If this issue is still available, please assign it to me. Also please add GSSOC22 label for that. Thanks

[2022-03-04 10:49] HarshKumarChoudary commented on #116
I'm GSSOC 22 contributor. If this issue is still available and is not completed yet, please assign it to me. Also please add GSSOC22 label for that. Thanks

[2022-03-04 10:52] HarshKumarChoudary commented on #98
I'm GSSOC 22 contributor. If this issue is still available and not completed yet, please assign it to me. Thanks

[2022-03-04 10:55] HarshKumarChoudary commented on #78
I'm GSSOC 22 contributor. If this issue is still available, please assign it to me. Also please add GSSOC22 label for that. Thanks

[2022-03-04 12:22] aishwaryas15 commented on #98
I'm working on it still

[2022-03-04 15:56] AmanDeep9925 opened #161 "Tweaks Needed in For Latest updates section"
@The-Shivam-garg,
Hi, I was going through the website and this catches my sight as there is a lot of changes required for this section
Here you can find the attached screenshot
![image](https://user-images.githubusercontent.com/26117610/156796001-df669501-0369-4701-bd63-a29015686e06.png)

FIX: Suggested
[]: Input has a bottom border which doesn't seems right to have there
[]: Submit button has to

[2022-03-04 16:08] #100 closed

[2022-03-04 16:10] #123 closed

[2022-03-04 16:18] The-Shivam-garg commented on #159
sure you can work on this issue @Anirban-1490

[2022-03-04 16:19] The-Shivam-garg commented on #158
its already their , Signup and sign in feature you can link that in the footer

[2022-03-04 16:20] The-Shivam-garg commented on #153
Sorry @Mohit-1909 already you have been assigned with 2 issue that's why i cant assign you one more .hey @HarshKumarChoudary you can work on this issue.

[2022-03-04 16:21] The-Shivam-garg commented on #161
thank you for your recommendation but someone is already working on this issue

[2022-03-04 16:26] The-Shivam-garg commented on #3
yeah you can go with this

[2022-03-04 16:28] Mohit-1909 commented on #3
Okay sir I'll start working in this.

[2022-03-04 16:30] AmanDeep9925 commented on #161
Thanks for update

[2022-03-04 16:30] #161 closed

[2022-03-04 17:08] TG922 commented on #116
@HarshKumarChoudary I have already done most of part but due to exam i was not able to work on it..just require to PR today.

[2022-03-04 17:28] Anirban-1490 commented on #159
thank you

[2022-03-05 02:08] Kumar-laxmi commented on #158
Nope the sign in and sign up are different to registration
![image](https://user-images.githubusercontent.com/76027425/156863558-7c5719ed-6530-4b2e-9228-d0502587df26.png)
Sign In and Sign Up are only got authorised personels what about students

[2022-03-05 02:09] Kumar-laxmi commented on #158
The above image is just a sample

[2022-03-05 02:57] Daksh-jha opened #163 "HOME PAGE FOOTER HOVER"
### Description

The contact us in footer of home page is linked, it can be linked and can also be hovered.
I would like to contribute as GSSOC participant to solve this issue if it is allowed.

### Screenshots

_No response_

[2022-03-05 09:48] ronitrangwani commented on #112
I want to work on this under GSSOC2022. Can you assign it to me .

[2022-03-05 10:02] Kumar-laxmi opened #165 "Feature: Change Sign Up buttons to Sign In"
### Description

**This is under GSSoC'22**

On Home Page we can wee that at top-right we have sign up button.
On clicking it, it leads us to Sign In page.
On most websites what we see first is Sign In button.

### Screenshots

![image](https://user-images.githubusercontent.com/76027425/156878546-9206501a-e465-4cef-8f5c-6661387b3cbf.png)
![image](https://user-images.githubusercontent.com/76027425/

[2022-03-05 10:03] Kumar-laxmi commented on #165
So you can see that Sign Up button leads to Sign In page

[2022-03-05 11:37] Cypher1002 commented on #136
hey , @The-Shivam-garg  very nice project
could make some changes in the buttons like adding color gradients and fix the border radius to make it more enhanced
could add a hover effect also
could you assign me the project under gssoc'22

[2022-03-05 12:19] gullapalli9482 commented on #165
I would like to work on this, can someone assign it to me, if it's unassigned

[2022-03-05 12:55] Mohit-1909 commented on #135
Hey is this issue open I would like to work on this.

[2022-03-05 14:32] the-centinal commented on #137
sir please check the pr

[2022-03-05 14:32] the-centinal commented on #135
sir please check my pr for this issue

[2022-03-05 16:20] The-Shivam-garg commented on #165
You can work on this issue @Kumar-laxmi

[2022-03-05 16:21] The-Shivam-garg commented on #163
sure @Daksh-jha you can work on this

[2022-03-05 16:22] The-Shivam-garg commented on #158
no need for this as the site is for the learners not just only for the students.

[2022-03-05 16:23] The-Shivam-garg commented on #135
your pr has conflicts please resolve them

[2022-03-05 16:26] The-Shivam-garg commented on #136
great ! @Cypher1002 you can work on this issue

[2022-03-05 16:29] #159 closed

[2022-03-05 16:51] the-centinal commented on #135
conflicts are resolved sir

[2022-03-05 17:09] #88 closed

[2022-03-05 17:27] #149 closed

[2022-03-05 17:31] rishav-karanjit commented on #165
@The-Shivam-garg Although you had said to work on this issue first, can I work on it? I have a project to do where I should be solving Github issues. If solving this issue is not important for you, can I work on it?

[2022-03-05 17:32] The-Shivam-garg opened #168 "Enhancement : Link the Event in the footer with the event page"
![image](https://user-images.githubusercontent.com/83035995/156893901-22cccb17-06fd-453a-9ce3-72c29ca25639.png)

[2022-03-05 17:35] The-Shivam-garg commented on #165
Sorry @rishav-karanjit  It's already assigned , you can explore the website and can come up with your creative ideas

[2022-03-05 17:36] rishav-karanjit commented on #165
Sure. Not a issue @The-Shivam-garg

[2022-03-05 17:37] rishav-karanjit commented on #168
Hello @The-Shivam-garg, can I work on this issue?

[2022-03-05 17:38] The-Shivam-garg commented on #168
sure you can @rishav-karanjit

[2022-03-05 17:39] rishav-karanjit commented on #168
Thank you @The-Shivam-garg

[2022-03-05 17:42] rishav-karanjit commented on #168
@The-Shivam-garg where should I link the events? Like at which URL?

[2022-03-05 17:47] rishav-karanjit commented on #168
Got it maybe. Is it [this](https://github.com/The-Shivam-garg/BigB-E-learn-Websit-e/blob/main/Events/events.html)?

[2022-03-05 17:59] rishav-karanjit commented on #168
@The-Shivam-garg I have opened a PR for this issue. Thank you!!!

[2022-03-05 18:00] rishav-karanjit commented on #168
Also, there is another issue some footer text appear to have black font color which makes them invisible as background is also black. Can I open this issue?

[2022-03-06 01:16] Kumar-laxmi commented on #158
Ok

[2022-03-06 03:25] #158 closed

[2022-03-06 04:02] Nitya-S27 opened #170 "Improvements in footer and hover effect of an element"
### Description

- The footer has two columns for information. The title of one of them needs to be changed.
- Also the font color of the links is black which is overlapping with the background color of the footer.
- The icons are also not aligned properly.
- The hover effect of last child in the what we offer section is also overflowing and can be improved!

### Screenshots

**Glitch in footer**

[2022-03-06 04:05] Nitya-S27 commented on #170
@The-Shivam-garg can you please assign this issue to me?
Thanks and Regards.

[2022-03-06 11:53] tanktejas opened #172 "Update Footer of Index.html, Contact Us Heart Icon not Visible"
### Description

=> On the home page footer text is not visible means its the color same as the background.

=> On the Contact Us page Heart Icon is Not Visible due to the Absent of Link.

=>  I will fix it soon

### Screenshots

![Screenshot (161)](https://user-images.githubusercontent.com/77108255/156921886-5b5b8ede-0a50-4f66-8e47-7dca2b546f84.png)

[2022-03-07 01:13] Cypher1002 commented on #136
Thanks for assigning it to me will give my best

[2022-03-07 06:58] soujo opened #174 "Bug : Student count increasing without validation"
When any user is subscribing to the newsletter, without any validation for the email the students enrolled count is increasing.
I want to fix this issue under JWOC @The-Shivam-garg

https://user-images.githubusercontent.com/78646418/156983057-3390c4c5-0c30-411c-970d-09837844bec3.mp4

[2022-03-07 12:28] #168 closed

[2022-03-07 12:31] The-Shivam-garg commented on #174
sure @soujo you can work on this issue

[2022-03-07 12:31] #172 closed

[2022-03-07 12:33] The-Shivam-garg commented on #170
yeah @Nitya-S27 you can work on your last issue which is :
 The hover effect of last child in the what we offer section is also overflowing and can be improved!

as above three issues are already resolved . Thanks for your recommendation .

[2022-03-07 12:39] The-Shivam-garg opened #175 "Reduce the Gap In the Navbar"
### Description

Reduce the Gap In the Navbar

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/157035893-7345ea4d-f07d-40a6-b3a0-0531ad61be0d.png)

[2022-03-07 12:41] Nitya-S27 opened #176 "Change the year in the footer"
### Description

The footer year still says 2021 and must be changed.
Same issue with the Readme.md file.

### Screenshots

![image](https://user-images.githubusercontent.com/81871441/157036532-40747cda-3827-485c-acbe-9b03b64556fd.png)

[2022-03-07 13:20] the-centinal commented on #175
please assugn this issue to me under GSSOC22

[2022-03-07 14:38] rutika1823 commented on #175
I'm GSSOC 22 contributor. If this issue is still available, please assign it to me under GSSoC'22 ?

[2022-03-07 15:38] tanktejas opened #178 "Team.html of About page is not responsive in Mobile View"
### Description

=> team.html is not responsive in mobile view.

=> Sidebar is overlapping team card as well as label, You can see the image in which I saw this issue.

=> I will fix it by applying some CSS.

=> Give this issue to me.

### Screenshots

![Screenshot (164)](https://user-images.githubusercontent.com/77108255/157065800-a4c718a6-f711-4550-b2fd-60fa68f90324.png)

[2022-03-07 19:55] Shofiya2003 commented on #176
Can I resolve this issue?

[2022-03-08 04:26] Nitya-S27 commented on #176
@Shofiya2003 I have raised the issue and it is to be solved by me once assigned

[2022-03-08 09:56] Mohit-1909 commented on #3
![Screenshot (105)](https://user-images.githubusercontent.com/92212063/157212647-efe52445-925a-4f0f-af6e-1a406de453a1.png)
@The-Shivam-garg Can you help me with this, I cannot push my changes.

[2022-03-08 15:20] purohitmansi commented on #175
Hello @The-Shivam-garg!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 15:26] purohitmansi commented on #133
Hello @The-Shivam-garg!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 15:35] purohitmansi commented on #78
Hello @The-Shivam-garg!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 20:15] Ash-KODES opened #182 "Contributor count should be on top of the readme"
### Description

place contrbutor count  and other badges on top

### Screenshots

_No response_

[2022-03-09 15:21] leesha19 opened #185 "improve home page"
### Description

i would like to improve the subscribe section using css  in home page

### Screenshots

_No response_

[2022-03-09 18:38] piyush-sri commented on #170
@The-Shivam-garg  could you please assign this issue to me?
I would like to deal with the footer issues !!.

[2022-03-10 05:09] Karan11000 commented on #175
I am GSSOC22 contributor. I would like to work on this issue. Can you assign it to me

[2022-03-10 17:48] The-Shivam-garg commented on #176
@Nitya-S27 you can work on this issue

[2022-03-10 17:58] The-Shivam-garg commented on #132
Hey @saketsagarsingh are you still working on this issue ?

[2022-03-10 18:02] The-Shivam-garg commented on #182
I Don't think so, It make any difference. So ,I can't assign this issue to you .Please don't make any PR from the next time until unless i will assign it .

[2022-03-10 18:03] #182 closed

[2022-03-10 18:05] The-Shivam-garg commented on #185
Thanks @leesha19 for showing your interest but Someone is already working on this issue .

[2022-03-10 18:05] #185 closed

[2022-03-10 18:07] #174 closed

[2022-03-10 18:11] The-Shivam-garg commented on #175
Thank you everyone , for showing your interest in this issue .But for now i'm assigning this issue to @the-centinal .I would recommend other contributors to explore the website .

[2022-03-11 10:22] nitishsaini706 opened #187 "Undefined randomvalue in index.html"
### Description

While fixing some issue , I found undefined random value  error in console.log

### Screenshots

![random_value](https://user-images.githubusercontent.com/39373956/157848958-3ae70592-9278-4b14-a125-2c4a3bfb3077.JPG)

[2022-03-11 10:44] nitishsaini706 commented on #175
@The-Shivam-garg I fixed this issue already ,
@the-centinal Have you completed the task?

[2022-03-11 14:03] #187 closed

[2022-03-11 14:04] #178 closed

[2022-03-11 17:46] heyvats21 opened #191 "Change JOIN FREE ONLINE COURSES section in index.html"
### Description

- Will change CSS of this section.

I want to work on this issue under  GSSOC'22 .

### Screenshots

![image](https://user-images.githubusercontent.com/81029204/157921490-14e836e3-00f3-4627-b59b-5f5bfd4af113.png)

[2022-03-12 16:59] MitAbhay commented on #132
@The-Shivam-garg  If this issue is not still resolved, can I go forward with this issue ??

[2022-03-13 15:24] #163 closed

[2022-03-13 15:26] #165 closed

[2022-03-13 15:36] The-Shivam-garg commented on #191
sure @heyvats21

[2022-03-13 15:36] #176 closed

[2022-03-13 15:45] #121 closed

[2022-03-14 02:09] Kumar-laxmi opened #193 "[FEATURE] Create Resource page"
### Description

**THIS IS UNDER GSSoC'22**

I can see that there is a link to Resources but no page has been linked for resources
![image](https://user-images.githubusercontent.com/76027425/158092756-c696f484-be5f-407b-88fd-df14564c7474.png)

So I can create one just like the image attached below

### Screenshots

![157244712-5070fa2b-1e9f-4061-a835-423137a144e5](https://user-images.githubusercon

[2022-03-16 12:25] sakshamgurbhele commented on #116
@TG922 Hey, what's the status?

[2022-03-16 16:07] sakshamgurbhele commented on #112
@ronitrangwani Sure, Go ahead

[2022-03-16 18:10] sakshamgurbhele commented on #116
No worries! take your time

[2022-03-17 03:34] sakshamgurbhele commented on #191
This issue is resolved! Kindly look into other issue

[2022-03-17 03:34] #191 closed

[2022-03-17 13:45] sakshamgurbhele commented on #193
seems cool, @Kumar-laxmi Go Ahead!

[2022-03-17 13:55] sakshamgurbhele opened #196 "[FEATURE] Change the Testimonial Text"
### Description

Change the TESTIMONIAL TEXT to something meaning full, and try to maintain a similar flow for format and content size.
<img width="600" alt="Screenshot 2022-03-17 at 7 23 02 PM" src="https://user-images.githubusercontent.com/64558515/158823845-8ae7e439-77ca-4ec2-ab26-51636f3c9f33.png">

### Screenshots

_No response_

[2022-03-17 15:46] SwathiReddy03 opened #197 "Enhancement : make the button styling more consistent."
![image](https://user-images.githubusercontent.com/98385147/158837903-08b710cf-c843-4cec-9253-b446dfacb54d.png)
![image](https://user-images.githubusercontent.com/98385147/158837996-e7358997-63a8-4f0d-8ed4-3bde8c4c7a28.png)

these are not similar to the ones below

![image](https://user-images.githubusercontent.com/98385147/158838246-8dc196cf-f122-4eac-8b66-6e298ec83e93.png)

I would like to work

[2022-03-17 18:42] sakshamgurbhele commented on #197
Hey @SwathiReddy03, Sure Go ahead!

[2022-03-17 18:44] sakshamgurbhele commented on #196
Hey @tejal-1303, You can work on this issue, Assigned 🚀

[2022-03-19 04:40] tanktejas opened #200 "Sign in page is not responsive in mobile view and some color combination is not good in blog page"
### Description

=> sign-in page is overlapping to the left slide bar.
=> some button's color combination on the blog page is needed to be improved.

=> assign this issue to me, I will fix this soon

.

### Screenshots

![Screenshot (172)](https://user-images.githubusercontent.com/77108255/159107082-a9804cad-9641-4844-91ee-c7170e2252dd.png)

[2022-03-19 10:30] Siddhesh777 opened #202 "[FEATURE] Add a button which toggles the view of password(show/hidden)"
### Description

So many times user wants to know the password he entere is correct or not or user wants to know what password he/she has entered. For the there must be a button which toggles the visibility of password.

I am contributor at gssoc'22.
Please assign this issue to me.

### Screenshots

![1](https://user-images.githubusercontent.com/77476772/159117450-70c9d81d-ef27-4c0f-92af-c45bb2579

[2022-03-19 10:46] ktyayani opened #203 "[Enhancement] Fixing the images in the courses page"
### Description

I tried looking if someone has already raised this issue but couldn't find any so here it is, the images on the buttons in the courses page are kind of stretched and look weird. I'd like to fix them by switching to new ones/fixing current ones if anyone has the original copies if it's possible to be assigned this as an issue. It will help improve the visual of the website.

### Sc

[2022-03-19 11:54] sakshamgurbhele commented on #202
@Siddhesh777 Go Ahead! Assigning it to you 🚀

[2022-03-19 11:57] sakshamgurbhele commented on #203
@ktyayani Go ahead, Assigning it to you 🚀

[2022-03-19 12:08] sakshamgurbhele opened #204 "[FEATURE] Add round edges to "WHAT WE OFFER" section"
### Description

## who doesn't love round edges right???
task: make the edges round in the **WHAT WE OFFER** section of the home page!

<img width="1437" alt="Screenshot 2022-03-19 at 5 37 40 PM" src="https://user-images.githubusercontent.com/64558515/159120457-1b347856-6769-4035-976d-e900db18b774.png">

### Screenshots

_No response_

[2022-03-19 12:16] sakshamgurbhele opened #205 "make the UI cleaner"
### Description

## This doesn't look good right?
<img width="1000" alt="Screenshot 2022-03-19 at 5 41 37 PM" src="https://user-images.githubusercontent.com/64558515/159120616-69bca337-d2db-4b3d-8c17-d8ffc6c6420b.png">

### Task: Upgrade the UI, full liberty given to contributor, customise as you want.
- the input box, the button, the hint text. go for all.

location: Home Page

### Screenshots

_

[2022-03-19 12:20] sakshamgurbhele commented on #153
@HarshKumarChoudary Are you working on this issue??

[2022-03-19 12:20] sakshamgurbhele commented on #115
@TG922 may I know the update for this task?

[2022-03-19 12:22] sakshamgurbhele commented on #119
Thank You @Sandhya312 for your contribution, we have some more issues. feel free to comment on them too.

[2022-03-19 12:22] #119 closed

[2022-03-19 12:23] HarshKumarChoudary commented on #153
I got busy with my exams, so please give me some more days.

[2022-03-19 12:24] #114 closed

[2022-03-19 12:29] sakshamgurbhele commented on #133
Hey @purohitmansi , let me know if you are interest in taking this issue.

[2022-03-19 12:29] sakshamgurbhele commented on #120
@kheya19 are you still on this issue?

[2022-03-19 12:31] kheya19 commented on #120
I have completed this and my code have been merged

[2022-03-19 12:33] #170 closed

[2022-03-19 12:34] sakshamgurbhele commented on #150
@ranafathi you can open more issues if you feel, thank you✨

[2022-03-19 12:34] #150 closed

[2022-03-19 12:36] sakshamgurbhele commented on #137
@the-centinal can you please link you PR with the issue,

[2022-03-19 12:37] sakshamgurbhele commented on #128
@BabyElias Thank you for contributing, ✨

[2022-03-19 12:37] #128 closed

[2022-03-19 12:39] sakshamgurbhele commented on #136
@Cypher1002 what is your update on this issue?

[2022-03-19 12:40] sakshamgurbhele commented on #102
Hey @artimanputra, are you still on this issue?

[2022-03-19 12:42] sakshamgurbhele commented on #96
Hey @AshutoshDash1999 , if you are working on this issue comment on #205.

[2022-03-19 12:42] #96 closed

[2022-03-19 12:43] #103 closed

[2022-03-19 12:44] sakshamgurbhele commented on #107
Hey @tanya-gupta25, Are you still on this issue?

[2022-03-19 12:45] sakshamgurbhele commented on #97
Hey @aishwaryas15, are you still working on this issue?

[2022-03-19 12:46] sakshamgurbhele commented on #5
hey @manya0210, are you on this issue?

[2022-03-19 12:46] sakshamgurbhele commented on #8
Hey @Sneha0324, Are you on this issue!?

[2022-03-19 12:47] sakshamgurbhele commented on #10
This issue is being resolved in a PR, Thank You for contributing..

[2022-03-19 12:47] #10 closed

[2022-03-19 12:48] sakshamgurbhele commented on #78
@purohitmansi let me know if you are still interested in this issue, also join the discord for communication.

[2022-03-19 12:50] sakshamgurbhele commented on #56
Thank You @Shruti025 for your contribution, ✨😇

[2022-03-19 12:50] #56 closed

[2022-03-19 12:52] sakshamgurbhele commented on #12
hey @zugzwang03, let me know if you are still interested

[2022-03-19 12:55] sakshamgurbhele commented on #17
Thank You for contributing, 🚀😇

[2022-03-19 12:55] #17 closed

[2022-03-19 13:21] sakshamgurbhele commented on #120
@kheya19, Can you please link your PR in this issue

[2022-03-19 13:31] kheya19 commented on #120
https://github.com/The-Shivam-garg/BigB-E-learn-Websit-e/pull/164

https://github.com/The-Shivam-garg/BigB-E-learn-Websit-e/pull/164

[2022-03-19 13:37] sakshamgurbhele commented on #120
Thank You @kheya19 for contributing 🚀😇

[2022-03-19 13:37] #120 closed

[2022-03-19 13:38] kheya19 commented on #120
It's my pleasure to work with you

[2022-03-19 14:06] zugzwang03 commented on #12
This issue has already been resolved by my closed pull request #49.

[2022-03-19 14:14] TG922 commented on #116
@sakshamgurbhele work is done!! Can I take any branch name??
Or is there any fixed name?? I'm ready to pull within some time today

[2022-03-19 14:14] TG922 commented on #115
@sakshamgurbhele work is done!! Can I take any branch name??
Or is there any fixed name?? I'm ready to pull within some time today

[2022-03-19 14:57] sakshamgurbhele commented on #116
@TG922 No, name your branch as per your choice.

[2022-03-19 15:38] Sandhya312 commented on #119
Sure

[2022-03-19 16:53] TG922 commented on #116
Where is @The-Shivam-garg did he leave?? Just Asking !!

[2022-03-19 17:14] sakshamgurbhele commented on #116
@TG922 Nope, he is busy with his exams.

[2022-03-19 17:29] The-Arshad-Khan commented on #204
@The-Shivam-garg Sir, Kindly Assign This Issue To Me!

[2022-03-19 17:55] Sandhya312 commented on #205
Hey, @sakshamgurbhele  I am a GSSOC'22 contributor.
I want to work on this project. Please assign it to me.

[2022-03-19 18:15] sakshamgurbhele commented on #205
@Sandhya312 Go Ahead! Assigning it to you 🚀

[2022-03-19 18:40] the-centinal commented on #204
@admin  please assign this issue to me under GSSOC2022

[2022-03-19 18:41] the-centinal commented on #137
[`https://github.com/The-Shivam-garg/BigB-E-learn-Websit-e/pull/162/`]

[2022-03-19 18:41] the-centinal commented on #134
please assign this to me under GSSOC 22

[2022-03-20 05:18] Cypher1002 commented on #136
@sakshamgurbhele i had given a pull request for the changes i made

[2022-03-20 13:50] Apexshya commented on #134
I am GSSOC 22 contributor. Please assign me this project.

[2022-03-21 08:45] Siddhesh777 opened #210 "Confirm Password field while signing up the page."
### Description

It may happen that while registering the user may type a wrong key while entering the password.
So there must be a "Confirm Password" field. If both the password match then only the user can register.

I am contributor at gssoc'22.
Please assign this issue to me.

### Screenshots

![1](https://user-images.githubusercontent.com/77476772/159228675-b0a93bb2-11b7-4a8b-94e9-419374a634c

[2022-03-21 14:44] Sandhya312 commented on #205
Hey @sakshamgurbhele  Pls check the pull request #212

[2022-03-21 18:41] Diksha4111 commented on #204
Can I get the opportunity to work on this issue?

[2022-03-21 18:47] Diksha4111 commented on #200
Can I get the opportunity to work on this issue?

[2022-03-21 18:49] Diksha4111 commented on #136
Can I get the opportunity to work on this issue?
I would be really happy to contribute in this issue :)

[2022-03-21 18:50] Diksha4111 commented on #107
Can I get the opportunity to work on this issue ? :)

[2022-03-21 18:55] Diksha4111 commented on #210
Can I get the opportunity to work on this issue?

[2022-03-21 18:58] sakshamgurbhele commented on #205
hey @Diksha4111, this is done, you can look in for other issues.

[2022-03-21 18:58] #205 closed

[2022-03-21 19:11] #193 closed

[2022-03-21 19:13] Diksha4111 commented on #205
Ok thank you :)

[2022-03-22 00:03] TG922 commented on #115
@sakshamgurbhele  I have also added PR for this issue!!
**But it is showing noting to compare**

![Image23](https://user-images.githubusercontent.com/70098839/159382184-8702c7af-6b83-4420-9e52-21e5d52a71d3.PNG)

[2022-03-22 05:05] rutika1823 commented on #210
Please assign me this issue for gssoc'22. I would like to work on same.

[2022-03-22 16:59] sakshamgurbhele commented on #137
https://github.com/The-Shivam-garg/BigB-E-learn-Websit-e/pull/162/

[2022-03-22 18:44] TG922 opened #215 "Adding Sticky Header Feature"
### Description

- I want to add sticky header for this website.
- This feature will help user to easily move to other parts of your website without having to scroll all the way to the very top.

### Screenshot

- Please assign me on this feature under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/156287090-b5e40277-893b-40a7-a544-b1f46def89f9.PNG)

[2022-03-22 18:50] TG922 commented on #215
Unfortunately, I had to close this issue which was previously created.

![Image44](https://user-images.githubusercontent.com/70098839/159553881-b9b424ef-849b-4461-bbc9-bf61993a0f90.PNG)

- There were a large number of merge conflict files so I had to create a new one.
- So Please Assign me to this.

[2022-03-23 12:33] nitishsaini706 opened #216 "[FEATURE] Added show password feature"
### Description

After entering password user can now see his/her password by clicking on the lock icon in password input

### Screenshots

_No response_

[2022-03-25 15:24] sakshamgurbhele opened #218 "[DOCS] Make the format more align and clear"
### Description

as you can see the headings are not properly aligned, the text is inconsistent
The Hyperlinks are also not in the aligned format.

<img width="985" alt="Screenshot 2022-03-25 at 8 53 22 PM" src="https://user-images.githubusercontent.com/64558515/160150178-171afd65-9db8-4490-8e85-8e1db4c5f288.png">
this para can also me formatted well.
<img width="936" alt="Screenshot 2022-03-25 at

[2022-03-25 15:31] sakshamgurbhele opened #219 "[FEATURE] changes in *online-course* class"
### Description

<img width="1440" alt="Screenshot 2022-03-25 at 9 00 04 PM" src="https://user-images.githubusercontent.com/64558515/160151474-f1de933d-1b98-41d4-b672-6192c45c654a.png">

## this can be made similar to newsletter section
<img width="1440" alt="Screenshot 2022-03-25 at 9 00 37 PM" src="https://user-images.githubusercontent.com/64558515/160151585-26bda99a-64e8-4c42-a469-0e96d0ad3cad.

[2022-03-25 15:34] Mvaishu10 commented on #218
Heyy ,I'm intrested can I work on it?

[2022-03-25 17:31] sakshamgurbhele commented on #218
Sure, Go Ahead @Mvaishu10. Assigning it to you 🚀

[2022-03-26 05:41] Areebah03 opened #220 "Smooth scroll"
### Description

I want to add smooth scroll in website when about us section in clicked. Please assign it to me. 😃

### Screenshots

_No response_

[2022-03-26 05:49] Areebah03 opened #221 "Improve Footer"
### Description

I want to improve the footer by modifying design and hover effect. Please assign it to me :)

### Screenshots

![Screenshot 2022-03-26 111647](https://user-images.githubusercontent.com/85051124/160226708-6f9da2a9-4a10-4410-bb8a-3ccce355570e.png)

[2022-03-26 13:19] Himanshi236 opened #222 "Want to improve "Why Education " section by adding hovering effect that changes background color of cards"
### Description

Hey I want to add hovering to the the cards in the "Why Education" section, it will look more attractive and catchy.
Please assign me this issue under GSSOC'22.

### Screenshots

_No response_

[2022-03-27 02:21] #215 closed

[2022-03-27 02:30] TG922 commented on #115
@sakshamgurbhele I have resolved the issues which I was facing for the first time.
Actually, I never had such conflict issues before that's why I was not able to figure out what was happening??

I have resolved it required to create new branch with the latest changes.

[2022-03-27 02:41] #117 closed

[2022-03-27 04:06] Prikshit-anthal commented on #219
I am GSSOC22 candidate, i can work on this issue. Changing layout is easy, i can do it in 2-3 days.

[2022-03-27 16:18] TG922 opened #225 "Bug: Counter not working Adding animated counter on scrolling"
### Description

## Description

- I want to add an animated counter effect on page scroll.
- This will help increase the UI of the website.

## Screenshot

![Image52](https://user-images.githubusercontent.com/70098839/160290735-2b960114-a0ed-455d-bcc2-a3c8adfe554e.PNG)

### Screenshots

_No response_

[2022-03-28 06:51] #115 closed

[2022-03-28 06:51] #116 closed

[2022-03-28 06:53] #202 closed

[2022-03-28 06:54] #133 closed

[2022-03-29 04:17] Pranai2518 commented on #218
If he is unable to do. I would like to work on this as a gssoc participant.

[2022-03-30 03:34] TG922 commented on #112
@ronitrangwani Are you working on this??

[2022-03-30 08:24] ronitrangwani commented on #112
Yes I'm it...!!

[2022-03-30 08:24] ronitrangwani commented on #112
Yes I'm on it .....!!!

[2022-04-01 07:20] Abhilasha-Jairath commented on #112
I want to work on this under GSSOC2022. Can you assign it to me .

[2022-04-01 08:17] ronitrangwani commented on #112
I am not able to debug some errors, you can assign it to her .

[2022-04-01 09:07] Ranjana550 opened #226 "Same text color and hover color."
### Description

Here, after hovering to text under have question part, because of the same hover color and text color, the text is unrecognizable.

### Screenshots

Here,
![image](https://user-images.githubusercontent.com/71266173/161232163-f5b1831e-c37f-4e89-bdfe-46d420da0218.png)

this is how
![Screenshot (493)_LI](https://user-images.githubusercontent.com/71266173/161232515-41bafce4-e2c1-4e3f-

[2022-04-01 09:09] Ranjana550 commented on #226
I would like to work on this issue. Please assign it to me.

[2022-04-01 12:09] Anjuli08 commented on #132
I would like to work on this issue under GSSOC '22, if not resolved yet!!!!

[2022-04-01 16:41] Sandhya312 commented on #219
Hey, I am GSSOC'22 contributor. Please assign this issue to me.

[2022-04-02 14:21] The-Shivam-garg opened #227 "[FEATURE] Change the Navbar color ."
### Description

Change the header color and fix the border size.

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161395689-d756090c-62ec-4cf5-8c34-c452f61c5635.png)

[2022-04-02 14:22] The-Shivam-garg opened #228 "[FEATURE] UI makeover"
### Description

Create more attractive glow effect ,It wont seems good

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161395720-20b7f5ab-356e-44e2-9657-57ebab06a3da.png)

[2022-04-02 14:23] The-Shivam-garg opened #229 "[FEATURE] change the effect in the heading"
### Description

make it into more appropriate heading.

### Screenshots

![Uploading image.png…]()

[2022-04-02 14:25] The-Shivam-garg opened #230 "[Enhancement] Make it more appropriate"
### Description

It should be like:

# HEADING
## statement
### EMail

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161395654-0e6614f7-ac6c-4a44-90ad-440803390bba.png)

[2022-04-02 14:31] The-Shivam-garg commented on #226
yeah sure ! @Ranjana550 you can work on this issue

[2022-04-02 14:40] The-Shivam-garg commented on #225
@TG922 you can start working on this issue

[2022-04-02 14:41] The-Shivam-garg commented on #222
@Himanshi236 you can start working on this issue

[2022-04-02 14:45] The-Shivam-garg commented on #221
yeah! @Areebah03 you can start working on this issue

[2022-04-02 14:46] The-Shivam-garg commented on #220
yeah! @Areebah03 you can start working on this issue

[2022-04-02 14:47] The-Shivam-garg commented on #219
hey @Prikshit-anthal thanks for your cooperation , you can start working on this issue

[2022-04-02 14:48] The-Shivam-garg commented on #218
hey @Pranai2518 you can start working on this issue

[2022-04-02 14:49] The-Shivam-garg commented on #210
hey @Siddhesh777 you can work on this issue

[2022-04-02 14:51] #204 closed

[2022-04-02 14:51] #197 closed

[2022-04-02 14:53] The-Shivam-garg commented on #108
hey @Anjuli08 you can start working on this issue

[2022-04-02 14:54] The-Shivam-garg commented on #107
hey @Diksha4111 you can start working on this issue

[2022-04-02 14:56] #142 closed

[2022-04-02 14:56] Diksha4111 commented on #107
Thank you @The-Shivam-garg :)

[2022-04-02 14:57] The-Shivam-garg commented on #134
hey @rutika1823 you can start working on this issue. Thanks to other for showing their interest in this issue .I would recommend you to explore the website and come with other creative ideas for modification

[2022-04-02 14:58] #137 closed

[2022-04-02 15:00] The-Shivam-garg commented on #112
hey @Abhilasha-Jairath  you can start working on this issue. Thanks to other for showing their interest in this issue .I would recommend you to explore the website and come with other creative ideas for modification

[2022-04-02 17:28] The-Arshad-Khan commented on #227
Kindly Assign this issue to me @The-Shivam-garg under GSSOC'22

[2022-04-02 17:56] The-Shivam-garg commented on #227
sure ! @The-Arshad-Khan you can start working on this issue

[2022-04-02 18:08] The-Arshad-Khan commented on #227
Thank you @The-Shivam-garg ❤️

[2022-04-02 18:52] Abhilasha-Jairath commented on #112
sure sir !! Thank you for assigning

[2022-04-03 01:44] Anjuli08 commented on #108
Thank you !!

[2022-04-03 04:03] Ranjana550 commented on #226
Thank you! 👍🏻

[2022-04-03 04:07] Siddhesh777 commented on #230
@The-Shivam-garg
I am interested .
Please assign this issue to me.

[2022-04-03 04:07] Siddhesh777 commented on #230
/assign

[2022-04-03 05:50] Pranai2518 commented on #228
I would like to work on this as a gssoc participant.

[2022-04-03 07:56] Anjuli08 opened #233 "Elements are not properly aligned in BLOG section"
### Description

sign in button in the blog section is not properly aligned as it is getting cut

### Screenshots

![Screenshot (38)_LI](https://user-images.githubusercontent.com/90701800/161417452-1bfd15a0-531c-466a-968c-6a493e03ed81.jpg)

[2022-04-03 07:57] Anjuli08 commented on #233
kindly assign me this, if required

[2022-04-03 07:59] Anjuli08 commented on #233
kindly assign me this issue

[2022-04-03 09:42] GeekAmita commented on #230
Please assign me this issue. I'm a contributor at GSSoC'22.

[2022-04-03 09:43] GeekAmita commented on #228
Please assign me this issue. I'm a contributor at GSSoC'22.

[2022-04-03 10:02] Rishita489 commented on #226
Hey @The-Shivam-garg , I am a GSSOC'22 contributor .  Can you please assign this issue to me . I have send the PR . You can review and merge it .

[2022-04-03 11:40] Ranjana550 commented on #226
Hey...I am also done with the implementation.
It's good you did it, but it's not a correct way to make a PR if someone else is already assigned to that issue. Hope you understand it.  )

[2022-04-03 11:40] Abh1shekSingh opened #238 "[FEATURE] Wan to Fix navbar, its reponsiveness, its UI and many more things that are glitched somehow"
### Description

I want to fix overall website according to UI UX theory

### Screenshots

_No response_

[2022-04-03 11:41] Ranjana550 commented on #226
@The-Shivam-garg it's done.  I have made a PR as well, please check it out.

[2022-04-03 11:41] Abh1shekSingh commented on #238
Please Assign this issue to me. I will fix every thing. Supafast

[2022-04-03 11:58] Rishita489 commented on #226
You can review my PR once . I have made changes to  the hover color such that it aligns with the theme of the website .

[2022-04-03 12:26] The-Shivam-garg commented on #238
Thanks @Abh1shekSingh you can start working on this issue

[2022-04-03 12:32] The-Shivam-garg commented on #233
@Anjuli08 you can work on this issue

[2022-04-03 12:33] The-Shivam-garg commented on #230
hey @Siddhesh777 you can start working on this issue

[2022-04-03 12:36] The-Shivam-garg commented on #228
Hey @Pranai2518 , you can start working on this issue.

[2022-04-03 13:44] The-Shivam-garg commented on #226
hey @Ranjana550 can you please any other impressive effect for this one , like it seems a little odd

[2022-04-03 16:51] #210 closed

[2022-04-03 16:52] #218 closed

[2022-04-03 18:01] sakshamgurbhele opened #239 "[FEATURE] Fix "Gain new skills" banner and correct alignment"
### Description

<img width="1440" alt="Screenshot 2022-04-03 at 11 25 56 PM" src="https://user-images.githubusercontent.com/64558515/161441408-1a801415-4a54-449b-92be-b2289cd7c3ff.png">

the effect on image doesn't look good, maybe you can try new effects.
button can be enhanced (may be you can try to match the color scheme, or maybe you can add some effects to it, or maybe alignment and many mor

[2022-04-03 18:05] #220 closed

[2022-04-03 18:28] Ranjana550 commented on #226
Yes, sure. I will.  👍🏻
But, I think @Rishita489's PR is also merged along with mine that's why it's looking a little odd with two different colors(blue and white) after hovering on text.

[2022-04-04 03:09] Anjuli08 commented on #239
I want to work on this issue under GSSOC..

[2022-04-04 03:45] #230 closed

[2022-04-04 04:05] The-Shivam-garg commented on #239
hey @Anjuli08 you can start working on this issue

[2022-04-04 04:10] The-Shivam-garg opened #241 "[FEATURE] Add a header in the Feature Page"
### Description

Add a suitable Header , keeping the design format in concern .

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161472389-8d37f7e2-3a4d-45e6-9ac1-a6807366b68e.png)

[2022-04-04 04:14] The-Shivam-garg opened #242 "[FEATURE] Adding link to the Courses"
### Description

Hey Contributor!
we want you to make each of these Block connect with the course page and its required course.

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161472669-d2aad613-1565-41c6-ba6c-04bca8e7a59d.png)

[2022-04-04 04:18] The-Shivam-garg opened #243 "[FEATURE] Change the Content and Concerning the SEO."
### Description

Change the content and make it more user friendly using the appropriate SEO friendly content

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161472937-6e49e65c-b608-466c-91f1-884d4a6bcf78.png)

[2022-04-04 04:25] The-Shivam-garg opened #244 "[FEATURE] Add the original blogs and make them directing"
### Description

Add the original blogs and make them directing .i.e. we want you to change the images and content according to the blog title you choose and make it redirecting to the actual blog

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161473525-ca36cec9-2d6d-4322-a431-597d0f7ac74f.png)

[2022-04-04 04:27] The-Shivam-garg opened #245 "[FEATURE] make Footer links Redirecting with their actual page in the website"
### Description

Make Footer links Redirecting with their actual page in the website.
The socials links you can get from the Readme File

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161473808-c3f247a2-bcf4-4e8c-9c58-2fe8757d2980.png)

[2022-04-04 04:32] Pranai2518 commented on #245
I would like to work on this issue under gssoc. please assign me.

[2022-04-04 04:47] gurjeetsinghvirdee commented on #244
I want to work assign me

[2022-04-04 04:48] gurjeetsinghvirdee commented on #241
assign me on this issue

[2022-04-04 05:01] Siddhesh777 opened #246 "Navbar in feature page"
### Description

There is no Navbar to navigate from feature page
I would like to add navbar in feature page.

I will also be adding routes in that navbar

I am contributor at GSSOC'22.
Please assign this issue to me.

### Screenshots

![Uploading 1.png…]()

[2022-04-04 05:03] The-Shivam-garg commented on #246
hey @Siddhesh777 i have created issue for this please have a look into that

[2022-04-04 05:03] The-Shivam-garg commented on #245
hey @Pranai2518 i have assigned you the issue

[2022-04-04 05:04] The-Shivam-garg commented on #244
sure @gurjeetsinghvirdee you can start working on this issue

[2022-04-04 05:04] The-Shivam-garg commented on #241
sure @gurjeetsinghvirdee you can work on this issue

[2022-04-04 05:06] Siddhesh777 commented on #243
hey @The-Shivam-garg
Please assign this to me

[2022-04-04 05:07] Siddhesh777 commented on #242
hey @The-Shivam-garg
Please assign this to me

[2022-04-04 05:08] The-Shivam-garg commented on #243
hey @Siddhesh777 you can work on this issue

[2022-04-04 05:46] Siddhesh777 opened #247 "Scroll to top button in feature page."
### Description

I would like to make a button which will take user to the top of the feature page in smooth manner.

I am contributor at GSSOC'22.
Please assign this issue to me.

### Screenshots

![1](https://user-images.githubusercontent.com/77476772/161481321-955d098d-18c6-4879-88fc-2aad09c051cf.png)

[2022-04-04 09:45] RohanHarichandan commented on #245
Hey is there any way I can contribute

[2022-04-04 11:59] #233 closed

[2022-04-04 12:00] The-Shivam-garg commented on #247
hey @Siddhesh777 you can start working on this issue

[2022-04-04 15:03] Rishita489 commented on #227
Hey @The-Shivam-garg , I am a GSSOC'22 contributor . I have solved this issue . I have changed the size of navbar so that it does not overlap with the man's icon . I have also changed the style of items in navbar and included the sign in option in the navbar rather than having a button as it was coming and hiding the items in other pages . I have attached the screenshot below .

I think the header

[2022-04-04 17:21] Pranai2518 commented on #228
Hey @The-Shivam-garg.  The text effect was changed like this by you. what should I do now.
![1](https://user-images.githubusercontent.com/75829770/161597274-7924e384-1ea4-4036-b746-7653e6048d09.png)

[2022-04-04 17:31] The-Shivam-garg commented on #228
hey @Pranai2518 , yeah i have changed that as it is not appropriate , if you can have any other idea to make it look more attractive ,please do create issue about same i will assign you

[2022-04-04 21:20] Rishita489 commented on #222
Hey @The-Shivam-garg , I am a GSSOC'22 contributor . Can you assign this issue to me . I have send the PR solving this issue . You can review and merge it .

[2022-04-05 04:43] #245 closed

[2022-04-05 04:46] The-Shivam-garg commented on #242
hey @Siddhesh777 you can start working on this issue

[2022-04-05 05:39] Adhetya opened #253 "Redesign footer in contact us page"
### Description

The footer is too big and UI is not looking good in the contact us page. This can be fixed by changing styling, positioning text elements horizontally and give more spacing. I am a GSSOC 22 contributor. Please assign this issue to me.

### Screenshots

<img width="1440" alt="Screenshot 2022-04-05 at 11 02 01 AM" src="https://user-images.githubusercontent.com/20537150/161685884-d06

[2022-04-05 08:07] Chandana-23 commented on #148
@The-Shivam-garg.
Kindly assign this task to me. In blog2.html some design is missing. I will fix it. Kindly assign it o me. Thank You.

[2022-04-05 08:15] Ranjana550 commented on #226
Working on it. It would be done by today evening or max by tomorrow morning.

[2022-04-05 10:10] Ranjana550 commented on #226
Heyy, @The-Shivam-garg
It's done.  Changed the hover background color to how it is being done for other hyperlinks to keep similarity.
![Screenshot (496)_LI](https://user-images.githubusercontent.com/71266173/161731488-f7a182b2-f1ff-43b8-bdc1-e7e9aa17d7e9.jpg)
![Screenshot (495)_LI](https://user-images.githubusercontent.com/71266173/161731510-bff5f108-3649-42e3-9ca6-6739584a131c.jpg)

I have made

[2022-04-05 12:54] codingkush opened #258 "Fix explore section ,some of links are not working properly"
### Description

I want to fix explore section because some of the part's  links ( home ,blog , contact, about) are not working properly.

### Screenshots

![Screenshot_20220405-181549~3](https://user-images.githubusercontent.com/78756312/161758330-3001b101-9f1f-468f-8a8f-115d3e9c1aaf.png)

![Screenshot_20220405-181610](https://user-images.githubusercontent.com/78756312/161757999-42e4ba19-fd5b-464

[2022-04-05 13:00] codingkush opened #259 "Dark mode button position is not good"
### Description

Dark mode button is showing on the bottom that doesn't look good.

![Screenshot_20220405-182835~2](https://user-images.githubusercontent.com/78756312/161759132-0821fedb-5650-47c5-bb58-37f208d04980.png)

### Screenshots

_No response_

[2022-04-05 13:01] codingkush commented on #259
I want to work on this issue under GSsoc 22....plz assign it to me

[2022-04-05 13:02] codingkush commented on #258
I'm GSsoc 22 contributer and i want to work on this issue under GSsoc 22....plz assign it to me

[2022-04-05 13:49] TG922 commented on #225
I'm on it will send PR soon

[2022-04-05 15:47] Siddhesh777 opened #260 "[FEATURE] Want to change UI of Navbar"
### Description

I will add some padding in every button of Navbar.
Along with that I will add some nice looking background color to every button and also want to give border radius to it.

I am contributor at GSSOC'22.
Please assign this issue to me.

### Screenshots

_No response_

[2022-04-05 15:48] Siddhesh777 commented on #260
hey @The-Shivam-garg
Please assign this to me.

[2022-04-05 17:25] Pranai2518 opened #261 "[FEATURE] Custom Scroll bar"
### Description

The scroll bar which was there right now was the basic one. I would like to customise the scroll bar according to the webpage theme.

Please assign me under gssoc.

### Screenshots

_No response_

[2022-04-06 01:53] #221 closed

[2022-04-06 01:56] #244 closed

[2022-04-06 02:02] The-Shivam-garg commented on #261
Sure @Pranai2518 you can start working on this , But before assigning this i want your confirmation about the previous you have taken , is their any pending issue you are working on ?

[2022-04-06 02:04] The-Shivam-garg commented on #259
Hey @codingkush you can start working on this issue

[2022-04-06 02:04] The-Shivam-garg commented on #258
hey @codingkush you can start working on this issue

[2022-04-06 02:06] The-Shivam-garg commented on #253
Hey @Adhetya you can start working on this issue

[2022-04-06 02:07] The-Shivam-garg commented on #260
Hey @Siddhesh777 before creating new issue please search for  it if the similar one exist or not , don't create the same issue .Please have a look to the issue once you will get this issue already

[2022-04-06 02:07] #260 closed

[2022-04-06 02:08] The-Shivam-garg commented on #132
Hey @Anjuli08 you can start working on this issue

[2022-04-06 02:10] #135 closed

[2022-04-06 02:10] #136 closed

[2022-04-06 02:11] The-Shivam-garg commented on #148
Hey @Chandana-23 you can start working on this issue

[2022-04-06 02:12] #196 closed

[2022-04-06 02:12] The-Shivam-garg opened #263 "[FEATURE] Change the TESTIMONIAL TEXT to something meaning full, and try to maintain a similar flow for format and content size."
### Description

Change the TESTIMONIAL TEXT to something meaning full, and try to maintain a similar flow for format and content size.

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161881961-cfaf2325-350b-49a1-9cf4-89bfc6e143f6.png)

[2022-04-06 02:13] The-Shivam-garg commented on #200
Hey @Diksha4111 you can start working on this issue

[2022-04-06 02:14] #203 closed

[2022-04-06 02:16] The-Shivam-garg opened #264 "[FEATURE] Fixing the Course images in the course section"
### Description

 the images on the buttons in the courses page are kind of stretched and look weird. fix them by switching to new ones/fixing current ones . It will help improve the visual of the website.

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161882279-54161344-b874-45d6-b088-3610c138746a.png)

[2022-04-06 02:18] The-Shivam-garg commented on #225
ohk no issue @TG922 you can take your time

[2022-04-06 02:18] #226 closed

[2022-04-06 02:20] #108 closed

[2022-04-06 02:20] #111 closed

[2022-04-06 02:22] The-Shivam-garg opened #265 "[FEATURE] Create the new page for the Saved option."
### Description

Create the new page for the Saved option.the idea behind it is simple that we want user to save their material ,so they can easily get back to it

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161882928-c2a35e6d-7221-4827-b170-d5767d2f68dd.png)

[2022-04-06 02:24] #8 closed

[2022-04-06 02:24] The-Shivam-garg commented on #106
are you still working on this issue @AjeetSingh2016 ?

[2022-04-06 02:25] #104 closed

[2022-04-06 02:27] The-Shivam-garg opened #266 "[FEATURE] Change the UI of Feedback section"
### Description

Try something which seems uniform and attractive

![image](https://user-images.githubusercontent.com/83035995/161883509-a26987fe-5443-4f80-b5e2-74d6acc135c8.png)

Something like this

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161883393-df32303f-c5c5-4b64-bb12-fd060482dfd5.png)

[2022-04-06 02:28] #102 closed

[2022-04-06 02:28] The-Shivam-garg opened #267 "[FEATURE] Design a UI for Counselling Page"
### Description

try to make something eye catching

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161883692-47058d1d-b617-4fa8-9956-98ee013f6589.png)

[2022-04-06 02:29] #98 closed

[2022-04-06 02:29] #97 closed

[2022-04-06 02:31] The-Shivam-garg opened #268 "[FEATURE] better UI page of "Team"."
### Description

the current one , won't seems that good try to make something better

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161884004-b3b4aa55-66d3-4278-a4b3-ca8df4deab37.png)

[2022-04-06 02:31] #81 closed

[2022-04-06 02:32] #68 closed

[2022-04-06 02:32] #9 closed

[2022-04-06 02:33] #62 closed

[2022-04-06 02:33] #3 closed

[2022-04-06 02:35] The-Shivam-garg opened #269 "[FEATURE] Add more relevant courses in the Course page"
### Description

You can add any course in the course section it's open to all domain ,till yet it only consist of curriculum based courses , but we would like , if you can add courses related to :

and so on

### Screenshots

_No response_

[2022-04-06 02:44] The-Shivam-garg opened #270 "[FEATURE] Create UI for a Community Club page"
### Description

we are expecting in this issue you to develop a new page for the community perspective .Down below is the screenshot of the example you can consider

### Screenshots

![community page](https://user-images.githubusercontent.com/83035995/161885475-a7c05744-3d8f-4b2c-ba82-349694564665.png)

[2022-04-06 02:46] The-Shivam-garg opened #271 "Fix the course page"
### Description

Fix the Course page

### Screenshots

![image](https://user-images.githubusercontent.com/83035995/161885682-443bb667-d7a4-4057-8990-854cf25d9a51.png)
![image](https://user-images.githubusercontent.com/83035995/161885700-556dca69-4aca-4bd8-9256-79acb30e885d.png)
![image](https://user-images.githubusercontent.com/83035995/161885726-63c65161-0415-4ce6-a1cd-0562da08bcee.png)

[2022-04-06 03:11] Pranai2518 commented on #261
Hey, @The-Shivam-garg I have no pending issue.

[2022-04-06 03:12] Pranai2518 commented on #228
Hey @The-Shivam-garg as of now it looks fine. If I get an idea on making it more creative. I'll make an issue then.

[2022-04-06 03:26] Pranai2518 commented on #263
I would like to work on this. please assign me.

[2022-04-06 04:34] Chandana-23 commented on #148
Thank you.
I do my best

[2022-04-06 04:37] Diksha4111 commented on #200
Thank you @The-Shivam-garg 😊

[2022-04-06 05:26] Adhetya commented on #270
Can I work on this?

[2022-04-06 06:06] Siddhesh777 commented on #242
hey @The-Shivam-garg
Where are the pages of these courses which should be linked.

[2022-04-06 09:28] Areebah03 opened #274 "[FEATURE] Improve navbar of website"
### Description

I want to improve the UI of  navbar of the website. Please assign it to me @The-Shivam-garg .

### Screenshots

![ss6](https://user-images.githubusercontent.com/85051124/161943741-dde13b73-6462-4b46-83c2-3cfdf7fd84fe.png)

[2022-04-06 13:39] Kumar-laxmi opened #275 "Create a new UI for Course Page"
### Description

We can see that the Course Page currently looks like this:
![image](https://user-images.githubusercontent.com/76027425/161987743-5f6c1e0d-4f52-4beb-971d-d241b0e1028a.png)

which probably doesn't look good

So a new UI ,may be required

### Screenshots

_No response_

[2022-04-06 17:23] Rishita489 commented on #227
Hey , @The-Shivam-garg , I have fixed the issue and send the PR . You can review and merge it .

[2022-04-06 19:36] Pranai2518 commented on #264
Hey, @The-Shivam-garg I can take this up. Please assign me.

[2022-04-06 20:21] gurjeetsinghvirdee commented on #269
assign me

[2022-04-06 20:24] gurjeetsinghvirdee opened #279 "[FEATURE] Live Chatbot"
### Description

Live integrated chatbot with your website with the help of the chatwoot platform

### Screenshots

_No response_

[2022-04-06 21:32] Rishita489 commented on #134
Hey @The-Shivam-garg , I am a GSSOC'22 contributor . Can you please assign this issue to me . I have solved the issue and send the PR . Can you please review and merge it .

[2022-04-06 21:36] Rishita489 commented on #271
Hey @The-Shivam-garg , I am a GSSOC'22 Contributor . Can you please assign this issue to me .

[2022-04-07 02:06] The-Shivam-garg commented on #275
The issue is already their @Kumar-laxmi  .Check out #107

[2022-04-07 02:06] #275 closed

[2022-04-07 02:07] The-Shivam-garg commented on #279
hey @gurjeetsinghvirdee the issue is already there , Please comment on the issue no. #153

[2022-04-07 02:07] #279 closed

[2022-04-07 02:08] The-Shivam-garg commented on #271
hey @Rishita489 you can work on this issue

[2022-04-07 02:10] The-Shivam-garg commented on #274
you can start working on the issue @Areebah03

[2022-04-07 02:10] The-Shivam-garg commented on #270
hey @Adhetya you can work on this issue

[2022-04-07 02:11] The-Shivam-garg commented on #269
hey @gurjeetsinghvirdee you can start working on this issue

[2022-04-07 02:11] The-Shivam-garg commented on #264
hey @Pranai2518 you can start working on this issue

[2022-04-07 02:13] #261 closed

[2022-04-07 02:15] #247 closed

[2022-04-07 02:16] The-Shivam-garg commented on #242
course page

[2022-04-07 02:19] The-Shivam-garg commented on #253
hey @hs-07 , the issue is already assigned i will suggest you to explore the project and issue section to get the best first issue for you

[2022-04-07 03:30] Kumar-laxmi opened #283 "Feature Page syncing to repo design"
### Description

In the feature page we can see that the this page isn't matching the  header and footer design like other pages, so I can sync it like other pages

### Screenshots

![image](https://user-images.githubusercontent.com/76027425/162114454-ed8ea5d5-ad53-456c-b7a7-b051c94fefd2.png)
![Uploading image.png…]()

[2022-04-07 03:46] gurjeetsinghvirdee commented on #153
Assign me
I will do in just 30mins

[2022-04-07 06:15] Rakesh9100 opened #285 "Adding a Bot feature"
### Description

I would like to add the github-action bot which would add GSSoC label when :
1. A new issue will be opened
2. A new PR will be opened
Can I ?

### Screenshots

_No response_

[2022-04-07 06:24] Pranai2518 commented on #264
Hey @The-Shivam-garg I had changed the images like this
![image](https://user-images.githubusercontent.com/75829770/162132844-8646c49c-85a1-4bcc-a999-3b8d4faa1c24.png)

The same was there down below. Should I remove it or change it as well like the above one
![image](https://user-images.githubusercontent.com/75829770/162132585-ad86f3d0-812c-4ecb-a9d5-27cb1fff31c8.png)

[2022-04-07 07:12] SwathiReddy03 commented on #268
Hey
I am a GSSOC contributor.
I would like to work on this
please assign me this issue

[2022-04-07 07:14] SwathiReddy03 commented on #266
Hey
I am a GSSOC contributor.
I would like to work on this
please assign me this issue.

[2022-04-07 09:05] hs-07 commented on #253
@The-Shivam-garg but as you mentioned that the work hasn't been started  over it

[2022-04-07 13:25] leesha19 opened #288 "sign in page glitch"
### Description

in  sign in page the password eye button is not styled properly

### Screenshots

![Uploading Screenshot.png…]()

[2022-04-08 20:46] XZANATOL opened #291 "Improve Contact Us cards in Contact Us page"
### Description

Make every page scale individually instead of making the 3 boxes scale at the same time when hovering on one box.

### Screenshots

![image](https://user-images.githubusercontent.com/64689436/162527705-25909f65-a37c-47dc-a057-8b70280017fe.png)

Issue made under GSSoC'22 contributions.

[2022-04-08 20:55] XZANATOL opened #292 "Smooth Hover transition in homepage"
### Description

Smoothen the hover transition in `What we offer` section in the home page to make it more responsive and give a better rate review to the UI.

### Screenshots

![image](https://user-images.githubusercontent.com/64689436/162528736-2861bb7b-c2b3-487d-816d-72dd19213e20.png)

Issue made under GSSoC'22 contributions.

[2022-04-08 21:02] XZANATOL opened #293 "Improve behavior in counter cards"
### Description

Improve the demonstration behaviour in counter cards in `homepage > WORLD-CLASS LEARNING` section. as shown in this video

https://user-images.githubusercontent.com/64689436/162529292-b861bc81-64df-46e4-9c96-d59b945f5e2c.mp4

### Screenshots

![image](https://user-images.githubusercontent.com/64689436/162529455-b543981f-666b-4c05-9a1f-b4a0f2369813.png)

Issue made under GSSoC'22 c

[2022-04-09 04:58] #253 closed

[2022-04-09 07:01] aytida0606 commented on #268
I want to work on this issue.

[2022-04-09 07:02] aytida0606 commented on #265
I want to work on this issue.

[2022-04-09 08:52] codingkush commented on #258
Hello ....i sent pr for both

[2022-04-09 08:52] codingkush commented on #258
Issues so should I send again pr for this

[2022-04-09 08:59] codingkush commented on #258
I created 2 issue ...but I sent 1 pr for both...so can I send again pr

[2022-04-09 10:22] warriorBunny013 opened #294 "[FEATURE] change the UI of courses section"
### Description

I can change the UI of the courses section and add the link to courses in "gets started" button.

### Screenshots

_No response_

[2022-04-09 11:48] #238 closed

[2022-04-09 11:49] Abh1shekSingh commented on #238
Code is so messy. Its really really hard to understand. Everything is mixed up. Really poor structure.

[2022-04-10 16:31] Adhetya commented on #267
Can I work on this issue?

[2022-04-10 17:59] Rakesh9100 commented on #285
/assign

[2022-04-10 22:05] Rishita489 commented on #134
Hey @sakshamgurbhele , you can review and merge my new PR #296 .

[2022-04-11 09:38] Vanshika7902 commented on #269
I would like to work on this issue .Kindly assign it to me.

[2022-04-11 12:26] Chandana-23 commented on #148
@The-Shivam-garg I contributed to this issue. Kindly review it.

[2022-04-11 18:07] #134 closed

[2022-04-11 18:12] #274 closed

[2022-04-11 18:15] sakshamgurbhele commented on #294
@warriorBunny013 can you explain what you want to do?

[2022-04-11 18:16] sakshamgurbhele commented on #293
@XZANATOL you can Go ahead, Assigning it to you under Gssoc

[2022-04-11 18:17] Pranai2518 commented on #264
Hey, @The-Shivam-garg any response? I'm good to make a PR.

[2022-04-11 18:17] sakshamgurbhele commented on #292
go ahead @XZANATOL

[2022-04-11 18:18] sakshamgurbhele commented on #283
@Kumar-laxmi sure sounds good. go ahead 👍🏼

[2022-04-12 11:12] nitishsaini706 opened #299 "Follow us links not properly aligned"
### Description

Placing follow us links in appropriate position in footer .
![Screenshot 2022-04-12 163951](https://user-images.githubusercontent.com/39373956/162947779-c1d7b74c-4501-4dd0-94e4-e6af3a241a59.png)

### Screenshots

_No response_

[2022-04-12 12:09] nitishsaini706 opened #301 "back to top icon and title in blog"
### Description

There is second back to top button in footer , and also the title in main is not appealing and button text is not visible.

### Screenshots

![button and title](https://user-images.githubusercontent.com/39373956/162959454-57fed221-cf08-4941-93eb-8defec891d95.png)
![footer in blog](https://user-images.githubusercontent.com/39373956/162959468-c2f90b5b-50ef-49fb-bc91-eed081ed98fa.png

[2022-04-13 07:21] #285 closed

[2022-04-13 11:42] XZANATOL commented on #291
@sakshamgurbhele Can I get working on this?

[2022-04-13 11:49] XZANATOL opened #306 "Smoothen Hover effect on Social Media Links"
### Description

Smoothen the hover transition in `Footer > Social Media Links` section in the home page to make it more responsive and give a better rate review to the UI.

### Screenshots

![image](https://user-images.githubusercontent.com/64689436/163173630-733be35b-b6e0-4ef7-aed8-b05c50e73550.png)

Issue made under GSSoC'22 contributions.

[2022-04-13 11:50] XZANATOL commented on #306
@sakshamgurbhele Can I get working on this?

[2022-04-13 12:00] #292 closed

[2022-04-13 12:01] #293 closed

[2022-04-13 12:03] The-Shivam-garg commented on #288
Hey @leesha19 You can work on this issue !

[2022-04-13 12:05] The-Shivam-garg commented on #288
Hey @Rishita489 its a warning for you , don't take other issues and please before  assigning the issue , if you again make any PR we will take a strict action against you

[2022-04-13 12:11] XZANATOL opened #307 "Refactor Navigation Bar"
### Description

Navigation bar has alot of visiual bugs that also results on bad user experience when scrolling down the page. My solution is to use flex box to refactor and correctly align navbar items.

### Screenshots

![image](https://user-images.githubusercontent.com/64689436/163177100-cda1bf00-66c1-455c-9d08-317de87112da.png)

Issue made under GSSoC'22 contributions.

[2022-04-13 12:20] #242 closed

[2022-04-13 12:23] The-Shivam-garg commented on #307
Hey @XZANATOL you can start working on this issue !

[2022-04-13 12:23] The-Shivam-garg commented on #306
Hey @XZANATOL you can start working on this issue !

[2022-04-13 12:24] XZANATOL commented on #306
@The-Shivam-garg Ok, can I get working on #291 too?

[2022-04-13 12:25] The-Shivam-garg commented on #268
Hey @SwathiReddy03  you can start working on this issue !

[2022-04-13 12:26] The-Shivam-garg commented on #269
Hey @Vanshika7902  you can start working on this issue !

[2022-04-13 12:26] The-Shivam-garg commented on #267
Hey @Adhetya  you can start working on this issue !

[2022-04-13 12:26] The-Shivam-garg commented on #266
Hey @SwathiReddy03  you can start working on this issue !

[2022-04-13 12:27] The-Shivam-garg commented on #265
Hey @aytida0606  you can start working on this issue !

[2022-04-13 12:30] #222 closed

[2022-04-13 12:30] #227 closed

[2022-04-13 12:30] Siddhesh777 opened #308 "[FEATURE] Scroll to top button in courses page"
### Description

I would like to create a button which will take user to the top of the page in courses page.

I am contributor at GSSOC'22.
Please assign this issue to me.

### Screenshots

![1](https://user-images.githubusercontent.com/77476772/163180562-acf9fc8f-1cb5-4d0d-b7a0-12552dcfb2c8.png)

[2022-04-13 12:31] #228 closed

[2022-04-13 12:31] The-Shivam-garg commented on #219
hey @Sandhya312 you can start working on this issue

[2022-04-13 12:33] The-Shivam-garg commented on #308
Hey @Siddhesh777 you can start working on this issue

[2022-04-13 12:43] Siddhesh777 opened #309 "Making the horizontal Navbar in Courses page."
### Description

The Navbar in the[ COURSES](url) page is very much confusing (as it is vertical and user doesn't know the meaning of the icons)

For the reason we had created an extra field namely explore which is unnecessarily making the page longer.
I would like to create a simple navbar just like homepage which will be user friendly.

I am contributor at GSSOC'22.
Please assign this issue to m

[2022-04-13 12:47] Siddhesh777 opened #310 "Bringing the night mode button at proper position in courses page."
### Description

The Night Mode button inside the [Courses](url) page is not at the right position.
I will bring it at the top right corner of the page.

I am contributor at GSSOC'22.
Please assign this issue to me.

### Screenshots

![1](https://user-images.githubusercontent.com/77476772/163183045-a07ca5d3-0fa5-4d06-93e2-3e0d1743219a.png)

[2022-04-13 19:52] muhammadgalhoum opened #311 "Updating README.md file with the changes which in this issue's description"
### Description

### The Changes are

- **Adding Project admin section and another section for mentors if there exists mentors**
- **Adding GSSoC'22 image and link**
- **Editing a noncorrect link(mail) in a specific section in the README.md file (I will put an image for it in the Screenshots)**
- **Adding contributors link for this repo**

### Screenshots

### I will no change the mail but fix the

[2022-04-13 19:55] muhammadgalhoum commented on #311
**Can you please assign this issue to me @The-Shivam-garg**

[2022-04-13 20:40] fatima-ola commented on #241
Is this still open? I will like to work on it

[2022-04-14 01:43] The-Shivam-garg commented on #310
Hey @Siddhesh777 ,I have assign you this issue but look @Siddhesh777 i want you to fix the few more bugs in it :
1.Changing the text size of the description.
2.Changing the position of the toggle.

[2022-04-14 01:44] The-Shivam-garg commented on #309
you can start working on this issue

[2022-04-14 01:47] The-Shivam-garg commented on #241
yeah ! @fatima-ola you can start working on this issue

[2022-04-14 09:31] fatima-ola commented on #241
The header here is the navbar. Can you share an image of how the header should look like?

[2022-04-14 14:45] #311 closed

[2022-04-15 17:52] Siddhesh777 commented on #310
hey @The-Shivam-garg
Please review this PR

[2022-04-15 17:56] Siddhesh777 opened #319 "[FEATURE] Aligning the Signin and toggle button properly."
### Description

the buttons of sign in and toggle mode is overlapping
I would like to add the singup button navbar and align the toggle butoon properly

I am contributor at gssoc'22
Please assign this issue to me.

### Screenshots

![1](https://user-images.githubusercontent.com/77476772/163604585-c69174f4-ed85-4813-b4b5-77c9430e7cc0.png)

[2022-04-15 17:59] Siddhesh777 commented on #319
@The-Shivam-garg
Please assign

[2022-04-15 18:00] Siddhesh777 commented on #241
hey @The-Shivam-garg
Can I work on this issue?

[2022-04-15 18:05] Siddhesh777 opened #320 "The details sould be renderd even on clicking on the heading."
### Description

It is quite frustrating that every time user need to click on the learn more button.
Instead the details page should get rendered even after clicking on the heading and paragraph.

I am contributor at GSSOC'22.
Please assign this issue to me.

### Screenshots

![1](https://user-images.githubusercontent.com/77476772/163605432-5295aea2-f278-4eab-a7dd-075e4cd116ed.png)

[2022-04-16 17:40] Sukriti-m commented on #243
Hi @The-Shivam-garg
If this task is being delayed, then I'd be glad to work on this issue.
I'd be grateful if you could assign this task to me under GSSoC'22.

[2022-04-16 17:41] Sukriti-m commented on #132
Hi @The-Shivam-garg
If this task is being delayed, then I'd be glad to work on this issue.
I'd be grateful if you could assign this task to me under GSSoC'22.

[2022-04-16 17:46] Siddhesh777 commented on #243
hey @Sukriti-m
I am working on this issue.

[2022-04-16 17:55] Sukriti-m commented on #243
@Siddhesh777 Alright. Best of luck 👍

[2022-04-16 17:59] Sukriti-m commented on #107
Hi @The-Shivam-garg
If this task is being delayed, then I'd be glad to work on this issue.
I'd be grateful if you could assign this task to me under GSSoC'22.

[2022-04-17 11:17] Sandhya312 commented on #219
Thank you for assigning me. I start to work on this issue.

[2022-04-17 14:08] #299 closed

[2022-04-17 14:26] #306 closed

[2022-04-19 03:38] vimal20002 opened #323 "Navbar needed in Feature section"
### Description

there is no any option to navigate back to home so need a navbar in feature section

### Screenshots

![bigb](https://user-images.githubusercontent.com/77504629/163915331-ff56b91e-57c0-4a50-9e96-16023a351ccc.png)

[2022-04-19 03:39] vimal20002 commented on #323
Please assign its to me

[2022-04-19 16:37] #270 closed

[2022-04-19 16:42] #307 closed

[2022-04-19 17:54] hs-07 commented on #219
@The-Shivam-garg  hey buddy
I went through this project and found it really amazing and would like to work over it....so if the issue isnt resolved then u can assign it to me....

[2022-04-19 17:56] XZANATOL opened #324 "[FEATURE] Make NavigationBar responsive on mobile devices"
### Description

Current NavigationBar has visual bugs when viewing the site on a mobile device as shown below. I would like to edit it to make it responsive with mobile devices.

### Screenshots

Current view on a mobile device:
![image](https://user-images.githubusercontent.com/64689436/164065767-2c530397-278d-4794-b63a-3ed8bd16faa3.png)

Issue made under GSSoC'22 contributions.

[2022-04-19 19:34] TG922 commented on #225
Sorry for the delay @The-Shivam-garg  I was busy in SIH 22 and will complete it ASAP. I know it's too late to close this issue.

[2022-04-20 04:24] #308 closed

[2022-04-20 04:27] #263 closed

[2022-04-20 04:29] The-Shivam-garg commented on #324
hey @XZANATOL you can start working on this issue

[2022-04-20 04:30] The-Shivam-garg commented on #320
Hey @Siddhesh777 you can work on this issue but in addition to this please align the learn more button into the center too

[2022-04-20 04:32] The-Shivam-garg commented on #319
It's already assigned , don't create duplicate issue which are already their

[2022-04-20 04:32] #319 closed

[2022-04-20 04:32] #301 closed

[2022-04-20 04:33] #294 closed

[2022-04-20 04:33] #291 closed

[2022-04-20 10:07] Sandhya312 commented on #219
Hey, @The-Shivam-garg I will submit my PR today till night. It has almost done.

[2022-04-20 12:37] The-Shivam-garg commented on #219
sure @Sandhya312 no issue .
Hey @hs-07 , thank you for showing your interest in this project ,I will recommend you to explore the project and other issues

[2022-04-20 12:39] The-Shivam-garg commented on #132
Hey @Sukriti-m you can work on this issue

[2022-04-20 14:03] The-Shivam-garg commented on #225
please do it asap !

[2022-04-20 16:20] dee-ksha opened #326 "[FEATURE] <Improvement in UI of Footer>"
### Description

Hii, I am a GSSoc'22 participant and I would like to make some changes to the footer component of your website in order to improve it's UI. Please assign this issue to me.

### Screenshots

_No response_

[2022-04-20 16:29] dee-ksha opened #327 "[FEATURE] <Improvement in UI of Courses Page>"
### Description

Hey, I am a GSSoc'22 participant. I noticed that there are a few alignment issues in the courses page and the text is not visible as it is overshadowed by the dark background. I would like to suggest a few modifications. Please allow me to contribute to this page.

### Screenshots

<img width="942" alt="ss4" src="https://user-images.githubusercontent.com/77492052/164278499-0a60e6f

[2022-04-20 17:26] hs-07 opened #329 "Improvement in Testimonial section"
### Description

Wanted to  make the testimonial section more focused over the testimonial as ccurrently the background is looking more punchy.
I will give an effect to make the section more attractive and premium.

### Screenshots

![Screenshot (3)](https://user-images.githubusercontent.com/87127387/164287872-ce2414e8-0448-4fdf-a555-36d71a8ec65a.png)

[2022-04-20 18:38] Pranai2518 opened #331 "Make button links redirect to their actual page on feature page"
### Description

The buttons which are there on the feature page should redirect to their actual page on the website.
I would like to work on the issue. Assign me!

### Screenshots

![1](https://user-images.githubusercontent.com/75829770/164299497-517372c6-8de6-4c0f-a53e-137983242207.png)
![2](https://user-images.githubusercontent.com/75829770/164299510-fc9504b7-95b7-4e2d-b938-02ddefe77cf5.png)
![

[2022-04-20 19:15] Sandhya312 commented on #219
Hey @shivamgoswamihere  Please review my PR #332 .

[2022-04-20 20:05] Atif0604 opened #333 "Padding In contact Section"
### Description

they is padding in top of contact section which looks uneven

### Screenshots

<img width="960" alt="image" src="https://user-images.githubusercontent.com/64218887/164313663-3b1297e7-1894-498d-bec5-aacf6d42b0b3.png">

[2022-04-20 20:06] Atif0604 commented on #333
Please Assign me

[2022-04-21 06:05] Pranai2518 opened #334 "Main content and the header were merge"
### Description

The main content on the main page was combined with the header.
I would like to make it in a proper alignment. Assign me!

### Screenshots

![1](https://user-images.githubusercontent.com/75829770/164385066-0b5e9919-7d0d-48e7-b24a-2b42095d85bc.png)

[2022-04-21 13:21] TG922 commented on #225
Ok @The-Shivam-garg

[2022-04-21 16:34] Sandhya312 opened #335 "Improve the footer section"
### Description

 There are all meshed up in the footer and not looking good. I want to improve it and make it aesthetic.

### Screenshots

![footer](https://user-images.githubusercontent.com/85842071/164507664-8a7d3d8e-55d3-4aff-bacb-2f987a7b27ff.png)

[2022-04-22 02:03] Sukriti-m commented on #132
Hey @The-Shivam-garg
I tried to change the font-size of the text in VS code. But no changes can be seen on the page whereas when I am changing the styles using Chrome Developer Tools then it is changing.
Could you please tell me why the styles are not changing in VS code.

https://user-images.githubusercontent.com/93239528/164581721-13aa5b03-dd62-4371-87dc-003207a3f7b7.mp4

[2022-04-22 03:43] The-Shivam-garg commented on #335
Hey @Sandhya312 you can start working on this issue

[2022-04-22 03:44] The-Shivam-garg commented on #334
Hey @Pranai2518 you can start working on this issue

[2022-04-22 03:45] The-Shivam-garg commented on #333
hey @Atif0604 you can start working on this issue

[2022-04-22 03:53] #264 closed

[2022-04-22 03:56] The-Shivam-garg commented on #331
Hey @Pranai2518 you can start working on this issue

[2022-04-22 03:58] The-Shivam-garg commented on #329
Hey @hs-07 you can start working on this issue

[2022-04-22 03:58] The-Shivam-garg commented on #327
hey @dee-ksha you can start working on this issue

[2022-04-22 03:59] The-Shivam-garg commented on #326
can you please explain what changes you are planning to make in the footer

[2022-04-22 04:04] The-Shivam-garg commented on #132
hey @Sukriti-m the active website in which you are trying to do the modification is the remote website , or its the repository website ?

[2022-04-22 04:07] The-Shivam-garg opened #336 "Make the Navbar Responsive"
### Description

Hey Contributors,
In this project i found out that the Navbar is not responsive due to which their is a hinderance in user experience .
we want from you is that you make the navbar of all pages responsive starting from Home page to Contact page

### Screenshots

_No response_

[2022-04-22 04:58] Sandhya312 commented on #335
Thank You @The-Shivam-garg for assigning me. I will give my best.

[2022-04-22 13:17] Sukriti-m commented on #132
Firstly, I forked this project and then cloned it on my system using git clone and I am working on that only.

[2022-04-22 17:14] #334 closed

[2022-04-23 04:48] #331 closed

[2022-04-23 12:00] TG922 commented on #225
I'm on it will send PR within some hour

[2022-04-23 15:28] #329 closed

[2022-04-24 16:42] Areebah03 opened #342 "[FEATURE] Adding navbar in feature section"
### Description

Feature section of website does not have navbar. I want to add navbar. Please assign it to me @The-Shivam-garg

### Screenshots

![ss](https://user-images.githubusercontent.com/85051124/164986942-e61524d0-c8c7-4e6d-90df-2157204c9dca.png)

[2022-04-25 11:57] The-Shivam-garg commented on #342
Hey @Areebah03 you can start working on this issue

[2022-04-25 13:49] XZANATOL commented on #336
@The-Shivam-garg I'm actually working on this in issue #324 . Should be finished by EOD.

[2022-04-25 18:12] Pranai2518 opened #345 "[FEATURE] Footer links in all the pages"
### Description

Since the footer links are only available on the feature page. I would like to add them to all the pages.
And if possible we could replace the Facebook link with discord.
Assign me!

### Screenshots

_No response_

[2022-04-25 22:23] XZANATOL opened #346 "[FEATURE] Refactor upper section in courses page"
### Description

Adjusting the UI of the header section in the courses page, where I will include:
* Text font adjustments
* Positioning of buttons
* Adding animations

### Screenshots

Part where I will implement the changes:
![image](https://user-images.githubusercontent.com/64689436/165184583-5337868d-8186-4cef-8ce3-b2fd57f6793b.png)

Issue made under GSSoC'22 contributions.

[2022-04-26 13:13] #342 closed

[2022-04-26 13:16] #324 closed

[2022-04-26 13:37] The-Shivam-garg commented on #346
Hey @XZANATOL you can start working on this issue

[2022-04-26 13:38] #336 closed

[2022-04-26 18:20] Pranai2518 opened #350 "Feature page in side nav bars"
### Description

The feature page is missing in the side nav bar. There is no option to redirect to the features page in the side nav. Every time we have to go to the home page to get in.
I can add it up. Assign me.

### Screenshots

![1](https://user-images.githubusercontent.com/75829770/165365780-3ea54b68-1d23-46d1-8cfb-b860c7fb364e.png)

[2022-04-28 12:09] MonarchGitHub opened #352 "Improving the Navigation Bar"
### Description

The current navbar on the website does not match the overall design of the page, I want to improve it with a few changes in the font and hover effect, etc.

### Screenshots

I want to make it look a bit like this and a little bit sleeker but in black font.
![image](https://user-images.githubusercontent.com/74449136/165748684-a35ef98e-63d1-460f-b84e-e2174faf8a9c.png)

[2022-04-28 13:00] #345 closed

[2022-04-28 15:16] BabyElias commented on #327
@The-Shivam-garg ,If this issue hasn't been worked upon yet, I am interested in taking this up.

[2022-04-28 15:48] nouraan-ahmed opened #354 "Login with google"
### Description

i want to add login with google feature

### Screenshots

_No response_

[2022-04-29 09:07] Areebah03 opened #357 "[FEATURE] Improve subscribe section"
### Description

I want to improve subscribe section by improving button, fonts. Please assign it to me @The-Shivam-garg

### Screenshots

![ss](https://user-images.githubusercontent.com/85051124/165915917-d779c1bf-c343-45b9-b00d-d455d467ffb4.png)

[2022-04-29 17:38] Pranai2518 opened #359 "Change navbar and scrollbar in feature page"
### Description

The current navbar and also the scrollbar doesn't suites the feature page.
I would like to change them according to the page theme.
Assign me this issue.

### Screenshots

![1](https://user-images.githubusercontent.com/75829770/165994976-86d58813-f4fd-4224-b2db-228ec32bd326.png)

[2022-04-29 18:25] #327 closed

[2022-04-29 18:26] #352 closed

[2022-04-29 18:28] #267 closed

[2022-04-29 18:29] #350 closed

[2022-04-29 18:30] #320 closed

[2022-04-29 21:48] MonarchGitHub opened #360 "Contact Us Button on feature page not working"
### Description

I want to update the contact us page on the features page so that it will redirect to the correct link instead of null.
Kindly assign me this under Gssoc.

### Screenshots

This is the contact us button that is not working properly.
<img width="949" alt="image" src="https://user-images.githubusercontent.com/74449136/166073373-116c1e81-6c72-4fff-b754-bd58ea5e32e4.png">

[2022-04-30 04:50] Pranai2518 commented on #360
Hey @MonarchGitHub It is working fine.

[2022-04-30 06:07] MonarchGitHub commented on #360
Hi, Thanks for verifying, I think the button didn't redirect cuz of connectivity issues. I tried now again and it's working fine 👍

[2022-04-30 06:07] #360 closed

[2022-04-30 11:33] Adhetya commented on #266
Can I work on this issue if its still open?

[2022-04-30 11:36] Adhetya opened #361 "Change font of footer in index page"
### Description

The font of the footer is different from the rest of the website. It needs to be consistent with the rest of the webpage for a consistent UI. Also reduce excessive spacing in some areas.

### Screenshots

<img width="1426" alt="Screenshot 2022-04-30 at 5 04 12 PM" src="https://user-images.githubusercontent.com/20537150/166103878-4c0aee97-3732-473e-8fac-0fab71017106.png">

[2022-04-30 11:36] Adhetya commented on #268
Can I work on this issue if its still open?

[2022-04-30 22:39] XZANATOL opened #363 "[FEATURE] Refactor footer in courses page"
### Description

Current Footer page has visual bugs, unorganized paddings & text alignments, which creates a bad review for a User Interface. I would like to refactor this part.

### Screenshots

![image](https://user-images.githubusercontent.com/64689436/166124901-3222610c-dad2-4d71-8b97-00f2d279083d.png)

Issue made under GSSoC'22 contributions.

[2022-05-02 04:28] XZANATOL opened #364 "[BUG] Visual Effect on Homepage Navbar"
### Description

The current animation on the navbar items is applied only on entering the hover event. On exiting there is no animation, the effect just pops away as shown in the video below. I would like to fix this one.

### Screenshots

https://user-images.githubusercontent.com/64689436/166184266-dc0e8c44-ff34-4faf-98c2-22d844082200.mp4

Issue made under GSSoC'22 contributions.

[2022-05-03 13:08] Siddhesh777 commented on #309
hey @The-Shivam-garg
Can you please reiview this PR

[2022-05-03 20:15] aaryahjolia commented on #271
Can I work on this issue ?

[2022-05-03 20:16] aaryahjolia commented on #335
Can I work on this issue ?

[2022-05-03 21:04] DeveloperAshish8 opened #365 "The curser should be pointer when we hover on Programs, Resources etc in What we offer section."
### Description

While scrolling through What we offer section, the mouse cursor should be pointer when we hover on Programs, online courses and Resources section
![Screenshot (40)](https://user-images.githubusercontent.com/90233808/166565942-41230142-710c-4779-b9f3-9c4ee2bb96f0.png)
.

### Screenshots

_No response_

[2022-05-04 17:51] Sandhya312 commented on #335
Hey @The-Shivam-garg, I am working on this issue, I was a little busy with my semester exam but now I am free so I will submit my PR by tomorrow.

[2022-05-05 14:08] The-Shivam-garg commented on #354
Hey @nouraan-ahmed you can start working on this issue

[2022-05-05 14:17] The-Shivam-garg commented on #361
Hey @Adhetya  you can start working on this issue

[2022-05-05 14:19] The-Shivam-garg commented on #357
Hey @Areebah03  you can start working on this issue

[2022-05-05 14:19] #364 closed

[2022-05-05 15:08] Adhetya opened #367 "Redesign teach page"
### Description

The UI is not looking very good. Font should be changed along with some styling. I would like to redesign this page to give it a better look.

I am a GSSOC 22 contributor. Please assign this issue to me

### Screenshots

<img width="1440" alt="Screenshot 2022-05-05 at 8 34 31 PM" src="https://user-images.githubusercontent.com/20537150/166954009-0a21b218-f418-475b-801b-8970720a342c

[2022-05-06 06:45] kusumita29 commented on #269
Can I work on this issue? @The-Shivam-garg

[2022-05-06 07:09] kusumita29 opened #369 "Wrong Email id in the footer section"
### Description

The email id provided at the footer of every page is wrong. I would like to work on it under GSSoC '22.

Please assign me this issue.

### Screenshots

<img width="960" alt="Screenshot (573)" src="https://user-images.githubusercontent.com/99873488/167083745-dbbcf434-251e-4a63-9641-2eeb304dae27.png">

[2022-05-06 07:12] The-Shivam-garg commented on #369
Yeah you can start working on it

On Fri, 6 May 2022, 12:39 p.m. Kusumita Ghose, ***@***.***>
wrote:

[2022-05-06 08:42] Pranai2518 opened #370 "Bugs in join course and footer"
### Description

1. The selected courses were replicated outside.
2. Social links in the footer were 2x times.

### Screenshots

Issue1:
![3](https://user-images.githubusercontent.com/75829770/167097971-4aff8f2f-2760-4215-b5d5-985308bc2156.png)

Issue2:
![2](https://user-images.githubusercontent.com/75829770/167097984-93b7fb5d-95b6-4501-91e2-d5518f8456ed.png)

[2022-05-06 11:56] The-Shivam-garg commented on #367
Hey @Adhetya you can start working on this issue

[2022-05-06 11:57] #357 closed

[2022-05-06 17:12] #370 closed

[2022-05-06 18:19] kusumita29 commented on #269
Can you assign me this issue? @The-Shivam-garg

[2022-05-07 04:44] #369 closed

[2022-05-07 04:46] #365 closed

[2022-05-09 15:02] kusumita29 opened #376 "Template text in the Sign up section is not modified"
### Description

The template text in the Sign-up and Sign-in section is not modified. Relevant and brief information needs to be added there.

I would like to work on it under GSSoC '22

### Screenshots

<img width="960" alt="Screenshot (586)" src="https://user-images.githubusercontent.com/99873488/167438433-74159171-3854-426d-8c45-5c2e41097552.png">
<img width="960" alt="Screenshot (587)" src="h

[2022-05-09 16:26] The-Shivam-garg commented on #376
Hey @kusumita29 you can start working on this issue

[2022-05-09 18:21] Pranai2518 opened #377 "Make button on sign in before hover"
### Description

Make the button for sign in before hovering. To look UI good.
Assign me this issue. I'll work on it.

### Screenshots

![1](https://user-images.githubusercontent.com/75829770/167472439-6eceddab-71f1-40e3-a07c-6e6ff16bf273.png)

[2022-05-10 06:55] Sabyasachi-Seal opened #378 "Adding Git and Github Resources in Computer Courses"
### Description

Git and Github are one of the most widely used tools these days in computer science.

It will be relevant to add them to the computer courses.

### Screenshots

_No response_

[2022-05-10 07:35] The-Shivam-garg commented on #378
Sure ! You can start working on it

On Tue, 10 May 2022, 12:25 p.m. Sabyasachi Seal, ***@***.***>
wrote:

[2022-05-10 08:19] Sabyasachi-Seal commented on #378
Thanks a lot @The-Shivam-garg I will start working immediately.

I will be making the contribution under GSSoC. Could you add the tag ?

[2022-05-10 10:44] aaryahjolia opened #379 "Horizontal navbar in all pages"
### Description

The vertical navbar in some pages like course are not so easy to navigate. Having horizontal navbar in all the pages will improve the UI of the website.

### Screenshots

_No response_

[2022-05-11 06:14] Sabyasachi-Seal commented on #378
Pull Request: https://github.com/The-Shivam-garg/BigB-E-learn-Websit-e/pull/380

[2022-05-11 09:27] #367 closed

[2022-05-11 09:30] #359 closed

[2022-05-13 10:14] Adhetya commented on #266
@The-Shivam-garg, can I work on this issue if it it still open?

[2022-05-14 03:39] The-Shivam-garg commented on #266
Yeah sure you can start working on this issue

On Fri, 13 May 2022, 3:45 p.m. Adhetya Narayan, ***@***.***>
wrote:

[2022-05-14 18:15] #269 closed

[2022-05-14 18:16] #378 closed

[2022-05-14 18:17] The-Shivam-garg commented on #379
Hey @aaryahjolia you can start working on this issue

[2022-05-14 18:17] The-Shivam-garg commented on #377
hey @Pranai2518 you can start working on this issue

[2022-05-14 18:39] piyusha2001 opened #382 "Link Get Started Button"
### Description

On clicking get started button nothing is happening . We can check if user has signed up . If user has signed up he will be directed to courses on click or else he will be directed to sign up page.

### Screenshots

_No response_

[2022-05-14 18:39] piyusha2001 commented on #382
Please assign me this issue under GSSoC'22

[2022-05-14 18:40] The-Shivam-garg commented on #382
hey you can start working on this issue

On Sun, 15 May 2022 at 00:09, Piyusha Patil ***@***.***>
wrote:

[2022-05-14 18:44] piyusha2001 commented on #382
Thank you . Can you assign it to me by adding gssoc tag?

[2022-05-14 18:54] #376 closed

[2022-05-15 18:45] nik132-eng commented on #379
if this issue is still open I want to work on this issue. can you please assign me this issue? for GSSoC

[2022-05-15 18:46] nik132-eng commented on #354
if this issue is still open I want to work on this issue. can you please assign me this issue? for GSSoC

[2022-05-15 18:53] nik132-eng opened #385 "make UI more beautiful"
### Description

I want to change this UI.

![image](https://user-images.githubusercontent.com/77881638/168489090-22fd731a-33f2-476d-8ef5-18278418703e.png)

-> give some padding here on left

![image](https://user-images.githubusercontent.com/77881638/168489116-7703e6b6-bc3c-48e0-95fa-d15bc2f68bf2.png)

-> change colure to dark on behalf of white

![image](https://user-images.githubusercontent.com

[2022-05-15 18:53] nik132-eng commented on #385
please assign me this issue for GSSoC

[2022-05-15 19:07] aaryahjolia commented on #379
Actually I'm working on this issue @nik132-eng . If you don't see a PR in 4-5 days, then you will get assigned.

[2022-05-15 19:31] navyasharma0203 commented on #382
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:31] navyasharma0203 commented on #363
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:31] navyasharma0203 commented on #379
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:32] navyasharma0203 commented on #377
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:33] navyasharma0203 commented on #335
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:33] navyasharma0203 commented on #309
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:34] navyasharma0203 commented on #271
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:34] navyasharma0203 commented on #265
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:34] navyasharma0203 commented on #243
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:35] XZANATOL commented on #363
I'm already working on it.

[2022-05-15 19:35] navyasharma0203 commented on #241
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:35] navyasharma0203 commented on #200
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:36] navyasharma0203 commented on #132
I would like to work on this issue. Can you assign this to me?

[2022-05-15 19:37] piyusha2001 commented on #382
I raised the issue yesterday because i wanted to work on it . Sorry @navyasharma0203 but I am already assigned.

[2022-05-15 21:01] XZANATOL opened #387 "[FEATURE] Refactor Teams Page"
### Description

Teams page has some classic elements beside the modern view. I would like to re-build these parts. Changes will include:

* Adjusting font & font-size
* Adding animation
* Imrpoving UI

### Screenshots

![image](https://user-images.githubusercontent.com/64689436/168493597-f5885c28-1686-45b1-b392-395717739f5a.png)

Issue made under GSSoC'22 contributions.

[2022-05-16 12:38] The-Shivam-garg commented on #354
hey @nouraan-ahmed are you still working on this issue ?

[2022-05-16 12:43] #377 closed

[2022-05-16 12:44] The-Shivam-garg commented on #385
hey @nik132-eng you can start working on this issue

[2022-05-16 12:46] The-Shivam-garg commented on #379
sure @aaryahjolia you can continue your work on this .I will confirm with you before assigning to another contributor so dont worry

[2022-05-16 12:47] The-Shivam-garg commented on #335
hey @Sandhya312 are you still working on this issue?

[2022-05-16 12:47] #309 closed

[2022-05-16 12:47] #265 closed

[2022-05-16 12:48] The-Shivam-garg commented on #243
hey @navyasharma0203 you can start working on this issue

[2022-05-16 12:49] The-Shivam-garg commented on #241
hey @navyasharma0203 you can start working on this

[2022-05-16 12:50] The-Shivam-garg commented on #200
hey @Diksha4111 are you still working on this issue ?

[2022-05-16 12:51] #132 closed

[2022-05-16 12:52] The-Shivam-garg commented on #387
hey @XZANATOL you can start working on this issue

[2022-05-16 13:03] Sandhya312 commented on #335
Yes, I am working and I will submit it by night.

[2022-05-16 19:11] #363 closed

[2022-05-17 11:42] nik132-eng commented on #354
@The-Shivam-garg

[2022-05-17 12:42] Diksha4111 commented on #200
Due to my exams I won't be able to work on the issue right now. Sorry for
the inconvenience.

On Mon, 16 May, 2022, 6:20 pm ShivamGarg11, ***@***.***>
wrote:

[2022-05-17 13:54] nik132-eng commented on #385
@The-Shivam-garg  pls check my work
Thank you

[2022-05-17 14:02] navyasharma0203 commented on #243
Also, one thing which I have noticed is that the buttons present on the features page have a weird hover function, I mean there are two colors appearing simply before hovering...which isn't quite visually appealing....

[2022-05-17 14:15] navyasharma0203 commented on #241
@The-Shivam-garg  could you please elaborate what kind of header would you like to place....I'm asking since my assumption could be wrong...

[2022-05-17 17:03] The-Shivam-garg commented on #354
hey @nik132-eng you can start working on this issue

[2022-05-17 17:04] The-Shivam-garg commented on #200
no problem , all the best for your exams :)

[2022-05-17 17:13] The-Shivam-garg commented on #241
as same as we have in other pages

[2022-05-18 00:41] XZANATOL opened #391 "[FEATURE] Refactor Contact Page"
### Description

Contact page has some visual bugs and unorganized elements in it's body which results in a bad UI. I would like to take part in adjusting these. Changes will include:

* Correctly positioning elements.
* adjust some animations behavior.
* adding shadows to contact cards to be visible in light theme
* other UI improvments

### Screenshots

![image](https://user-images.githubusercon

[2022-05-18 05:58] Pranai2518 opened #392 "Add social links in course pages"
### Description

Since there are no social links added in the footer of every course page. I would like to add them. Assign me.

### Screenshots

![f1](https://user-images.githubusercontent.com/75829770/168967379-a0d343ef-bea4-476c-a7c6-983c8eb73271.png)

[2022-05-18 17:07] The-Shivam-garg commented on #392
hey @Pranai2518  you can start working on this issue

[2022-05-18 17:08] The-Shivam-garg commented on #391
hey @XZANATOL you can start working on this issue

[2022-05-20 00:09] XZANATOL opened #394 "[FEATURE] Matching footer sections"
### Description

I would like to refactor the footer section in the contact page to be like the one in the courses page, as both share the same template, so It would be a bonus rate for the UI rating.

### Screenshots

![image](https://user-images.githubusercontent.com/64689436/169423667-da6a75a8-1434-4e8c-abf8-d8770f72fa28.png)

![image](https://user-images.githubusercontent.com/64689436/16942369

[2022-05-20 06:27] Abhilasha-Jairath commented on #394
I would like to work on this issue under GSSoC 2022. Please assign this issue to me.

[2022-05-20 07:45] Areebah03 opened #395 "Fixed UI of navbar"
### Description

I want to improve UI of navbar. Leafy border of hover effect is not looking so good. I want to enhance it. Please assign it to me @The-Shivam-garg

### Screenshots

![ss1](https://user-images.githubusercontent.com/85051124/169479431-088bc557-bffa-4fc8-b0ec-5685cea187ba.png)

[2022-05-20 18:57] Rishita489 commented on #288
Hey @The-Shivam-garg , if no one is working on this issue can you assign it to me . I am a GSSOC'22 contributor .

[2022-05-22 03:12] The-Shivam-garg commented on #395
hey @Areebah03 you can start working on this issue

[2022-05-22 03:12] The-Shivam-garg commented on #394
hey @XZANATOL  you can start working on this issue

[2022-05-22 03:14] #392 closed

[2022-05-22 03:16] #391 closed

[2022-05-22 03:19] #387 closed

[2022-05-22 03:52] The-Shivam-garg commented on #288
Sure rishita you can start working on it

On Sat, 21 May 2022, 12:27 a.m. Rishita489, ***@***.***>
wrote:

[2022-05-22 03:59] Dharmesh177 commented on #271
i would like to work on this

[2022-05-22 04:04] Dharmesh177 opened #397 "Improving Header of community page"
### Description

I will improve the UI of the community page and also give better look to the main section for looking osm website. Kindly assign this issue to me so I can work on it @shivam

### Screenshots

![image](https://user-images.githubusercontent.com/77879603/169677999-71895182-5f72-41a4-84bf-899865464033.png)

[2022-05-22 04:38] Rishita489 commented on #288
Hey @The-Shivam-garg , I have send the PR . You can review and merge it .

[2022-05-22 04:46] #271 closed

[2022-05-22 04:49] #288 closed

[2022-05-22 04:53] Dharmesh177 commented on #397
Hey @The-Shivam-garg assign this issue to me under gssoc'22 such that I can start contributing

[2022-05-22 05:07] The-Shivam-garg commented on #397
hey @Dharmesh177 can you share the changes you are going to implement to the main section , as it is not clear from the description you have given

[2022-05-22 05:45] Dharmesh177 commented on #397
yeah sure

[2022-05-22 05:48] Dharmesh177 commented on #397
![image](https://user-images.githubusercontent.com/77879603/169680762-6f13007a-dfba-495d-a80d-f34e515d5712.png)

here left side some padding and in the header, I think to give some cool hover effect

![image](https://user-images.githubusercontent.com/77879603/169680793-84663e6f-fcc2-44ec-9d5d-d33e161ada90.png)

here you can see it is sliding for that I will try to fix it.

[2022-05-22 13:47] #326 closed

[2022-05-22 13:52] dee-ksha opened #401 "Bug in the 'Teach' page"
### Description

Hey, I am a GSSoC'22 participant. I noticed the picture in the teach page is going out of the viewport affecting the UI of the page.
<img width="806" alt="ex" src="https://user-images.githubusercontent.com/77492052/169698418-5defa8d6-69af-4618-8dab-b4f4b52544e4.PNG">

Also, the name and designation are overflowing out of the designated area here.
<img width="944" alt="ex2" src="ht

[2022-05-23 01:51] The-Shivam-garg commented on #401
Hey !
You can start working on the issue , i will assign it to you in a while .

On Sun, 22 May 2022, 7:22 p.m. Diksha Bhardwaj, ***@***.***>
wrote:

[2022-05-23 20:09] Pranai2518 opened #402 "Refactor footer in feature page"
### Description

Refactor the footer on the feature page.
* The current footer doesn't have the correct alignment of text and spacings.
* I would like to recreate it according to the footers on other pages. (Assign me this issue.)

### Screenshots

![1](https://user-images.githubusercontent.com/75829770/169897171-33ed08d7-a9ef-4b32-9f08-7fd3806d0bd7.png)

[2022-05-24 04:49] Rishita489 opened #403 "Alignment of the options in the navbar is not proper in the blogs page in mobile responsive view"
### Description

The options should be aligned one below the other so that it looks good with the UI .

### Screenshots

![image](https://user-images.githubusercontent.com/73689669/169951029-f51940e8-3b71-4870-a52f-3490499f1ee6.png)

[2022-05-24 04:50] Rishita489 commented on #403
Hey @The-Shivam-garg , can you please assign this issue to me and add the GSSOC label . I am a GSSOC'22 contributor .

[2022-05-25 13:24] Rishita489 commented on #200
hey @The-Shivam-garg , I am a GSSOC'22 contributor . If no one is working on this issue , can you assign it to me . I have solved the issue and made the sign-in page responsive to mobile view .

[2022-05-25 13:42] dheerajrao20 opened #404 "Logo clicks not working"
### Description

While clicking on logo in some segments of website it is not returning to home page.
It is showing 404 error.
Maybe some links are missing.

@The-Shivam-garg
Assign this issue to me I will fix it.

### Screenshots

![01 (2)](https://user-images.githubusercontent.com/89007097/170275789-179d4c8c-a724-499c-8acf-c1b6e2e11cf2.png)

[2022-05-25 13:52] dheerajrao20 opened #405 "Footer needs some work"
### Description

Some of the things in footer need some work like:

1. Logo is not seen.
2. Last line of footer i.e copyright line, we need to add link to BigB text.
3. Have a question section need to enhancement

![Screenshot 2022-05-25 191547](https://user-images.githubusercontent.com/89007097/170278626-32d234ba-dec2-4661-ba0f-15fe2d8b2411.png)

### Screenshots

_No response_

[2022-05-25 15:18] Dharmesh177 commented on #397
/assign

[2022-05-25 18:20] navyasharma0203 commented on #200
I am almost done working on it....sorry @Rishita489

[2022-05-27 00:34] Adhetya commented on #153
@The-Shivam-garg, I would like to work on this issue. Please assign it to me

[2022-05-27 00:34] Adhetya commented on #268
@The-Shivam-garg, I would like to work on this issue. Please assign it to me

[2022-05-27 00:45] Adhetya commented on #354
@The-Shivam-garg, I would like to work on this issue. If it is still open, please assign it to me

[2022-05-27 01:43] Adhetya commented on #107
@The-Shivam-garg, I would like to work on this issue. Please assign it to me

[2022-05-27 14:23] The-Shivam-garg commented on #153
Hey @Adhetya you can work on this issue

[2022-05-27 14:23] #268 closed

[2022-05-27 14:26] The-Shivam-garg commented on #107
Hey  @Adhetya you can start working on this issue

[2022-05-27 14:27] #405 closed

[2022-05-27 14:28] The-Shivam-garg commented on #403
Hey @Rishita489 you can start working on this issue

[2022-05-27 14:29] The-Shivam-garg commented on #402
Hey @Pranai2518 you can start working on this issue

[2022-05-27 14:29] The-Shivam-garg commented on #404
hey @dheerajrao20 you can start working on this issue

[2022-05-27 14:33] #379 closed

[2022-05-27 14:34] #395 closed

[2022-05-27 14:36] The-Shivam-garg commented on #397
ohk @Dharmesh177 you can start working on this issue

[2022-05-28 02:23] Rishita489 opened #410 "The Back to top button in Courses page is not working"
### Description

The Back to top button in Courses page is not functioning correctly .

### Screenshots

![image](https://user-images.githubusercontent.com/73689669/170805998-972ac92d-3547-46c4-84e8-a2f45e46550b.png)

[2022-05-28 02:25] Rishita489 commented on #410
Hey @The-Shivam-garg , can you please assign this issue to me under GSSOC label . I am a GSSOC'22 contributor .

[2022-05-28 05:47] Rishita489 commented on #410
hey @The-Shivam-garg , I have send the PR .Can you please review and merge it .

[2022-05-28 18:26] Rishita489 opened #415 "Get Started Button in the course page is not working"
### Description

The get started button in the course page is not working .

### Screenshots

![image](https://user-images.githubusercontent.com/73689669/170838317-ede3402b-825c-41a5-b008-5311cb8accf1.png)

[2022-05-28 18:27] Rishita489 commented on #415
Hey @The-Shivam-garg , can you please assign this issue to me and add the GSSOC label . I am a GSSOC'22 contributor .

[2022-05-29 08:30] Rishita489 opened #417 "Get Started button in the Teach page is not working"
### Description

The Get Started button in the teach page is not working .

### Screenshots

![image](https://user-images.githubusercontent.com/73689669/170859285-ed96be97-f1e7-445f-9c76-cf0bd0651e1e.png)

[2022-05-29 08:31] Rishita489 commented on #417
Hey @The-Shivam-garg , Can you please assign this issue to me and add the GSSOC label . I am a GSSOC'22 contributor .

[2022-05-29 08:34] Rishita489 commented on #415
hey @The-Shivam-garg , I have send the PR . Can you please review and merge it .

[2022-05-29 08:54] Rishita489 commented on #417
hey @The-Shivam-garg , I have send the PR . Can you please review and merge it .

[2022-05-29 12:32] #417 closed

[2022-05-29 12:32] #410 closed

[2022-05-29 12:32] #415 closed

[2022-05-29 12:36] #402 closed

[2022-05-31 11:16] Pranai2518 opened #420 "Fix navbar in course and contact page"
### Description

The navbar on the course page and on the contact page was not correctly aligned.
@The-Shivam-garg Assign me this issue.

### Screenshots

![1](https://user-images.githubusercontent.com/75829770/171161249-589a1980-c9a5-4adb-9e3a-fd685277e11d.png)

![2](https://user-images.githubusercontent.com/75829770/171161260-d4270e30-ed93-4ef2-b18b-75c78fd7df55.png)

[2022-06-01 01:25] #283 closed

[2022-06-02 06:52] #153 closed

[2022-06-02 06:53] The-Shivam-garg commented on #420
hey @Pranai2518 you can work on this issue

[2022-06-02 06:53] #404 closed

[2022-06-06 07:52] Pranai2518 commented on #420
Hey @The-Shivam-garg, Can I work on this issue?

[2022-06-06 14:47] The-Shivam-garg commented on #420
Hey pranai thanks for your active contribution in this project .

Actually the GSSoc is ended now , so you cant work on it under GSSoC
program. But if you want to do it  on the volunterry basis then i would
love to assign this issue to you

On Mon, 6 Jun 2022, 1:22 p.m. Pranai Raj, ***@***.***> wrote:

[2022-06-07 11:59] #394 closed

[2022-06-08 17:21] Pranai2518 commented on #420
Hey @The-Shivam-garg. I don't want it like to work under GSSoC to get the points. I Just want to complete this issue because I've raised it.

[2022-06-08 17:52] The-Shivam-garg commented on #420
Great then , will assign you the issue in a while . You can start working
on the issue :)

On Wed, 8 Jun 2022, 10:51 p.m. Pranai Raj, ***@***.***> wrote:

[2022-06-26 05:52] dattavelivela opened #422 "[UX] <Improving usability of the website by improving the design and experience>"
### Description

BigB's Website design looks outdated. Buttons, Typography, Spacing, Color, and Landing pages of different pages are not consistent. It can be fixed by improving the website's user experience by revamping the design.

### Screenshots
![Screenshot 2022-06-26 at 11-11-03 BigB](https://user-images.githubusercontent.com/97103375/175801436-631f89e5-e59c-4c13-8e5b-a0ec10c8af7a.png)

[2022-06-26 05:57] dattavelivela commented on #422
Hey @The-Shivam-garg  , can you please assign this issue to me so I can work on improving the design of the website to create a better user experience. I am sorry that I am not part of GSSoC22, I would like to contribute to this project.

[2022-06-26 18:15] #420 closed

[2022-06-26 18:17] The-Shivam-garg commented on #422
Hey @dattavelivela the issue is assigned to you  :)

[2022-07-04 09:14] AD1TYA03 commented on #403
if it's still not fixed , assign it it to me . I will get it done.

[2022-07-06 16:40] Ayushrawat-cmd commented on #403
is this still open?

[2022-09-15 08:45] #422 closed

[2022-10-02 15:03] Ravina-Deogadkar commented on #397
If this issue is still open can I work on this?

[2022-10-02 15:19] Rashmisingh-18 commented on #401
Hey, I want to improve the UI of the webpage, so can you assign it to me under HacktoberFest 2022?

[2022-10-02 16:10] yogesh-9999 commented on #335
I would like to work on this issue.

[2022-10-02 16:12] yogesh-9999 commented on #259
Hey @The-Shivam-garg please assign me this issue.

[2022-10-02 16:40] codingkush commented on #259
@yogesh-9999 i have already fixed this issue this but i forgot to close this issue.....

PR of this issue : #277

![Screenshot_20221002-220716~2](https://user-images.githubusercontent.com/78756312/193465615-029d9be5-72f0-4777-b695-0f41c5c4f226.png)

[2022-10-02 16:40] #259 closed

[2022-10-02 21:50] codeknight1 opened #430 "Unwanted commented codes"
### Description

Unwanted commented codes should be removed from a web page because it might mistakenly uncommented and turn into a bug...

### Screenshots

_No response_

[2022-10-03 10:08] uday03meh opened #434 "Unresponsive layout on smaller screens"
### Description

Layout starts breaking from screen sizes 1300px to 600px.

### Screenshots

![image](https://user-images.githubusercontent.com/59679281/193551063-1bde80f5-3748-4569-a73f-56e5fae47444.png)
![image](https://user-images.githubusercontent.com/59679281/193551252-b6c601a2-ab97-4908-8834-febbfa532a04.png)
![image](https://user-images.githubusercontent.com/59679281/193551476-907b3f57-2814

[2022-10-03 14:53] The-Shivam-garg commented on #434
hey @uday03meh , thanks for finding out the bug . You can contribute in the project by fixing the bug !

[2022-10-03 14:56] The-Shivam-garg commented on #335
hey @yogesh-9999 thanks for choosing the issue , you can start working on them

[2022-10-03 14:58] The-Shivam-garg commented on #397
Hey @Ravina-Deogadkar , sorry the issue is already resolved .Thanks for your interest in the project , you can explore other issues .

[2022-10-03 14:58] #397 closed

[2022-10-03 15:52] riddhitech commented on #335
I would like to work on this issue , Can u please assign

[2022-10-03 16:34] IAmTamal opened #435 "[FEATURE] autofocus on input fields 🛠"
### Description

## Changes i'd suggest  :

- `Autofocus` on the input field so that  we donot need to again click the input field to provide the detials
- I intend to make it available for all devices and all pages

## Why to bother ?

- Using `Autofocus` is a good accessibility feature
- It provides a much premium user experience
- It would remove the pain of clicking the box again and again.

#

[2022-10-03 16:38] IAmTamal opened #436 "[Frontend] Signup page responsiveness 🛠"
### Description

## Changes i'd suggest  :

- The signup page is not responsive for mobile devices
- I can work on it to make the signup page more responsive so that it looks perfect for mobiles and smaller screens.
- You can test it out (broken signup) by visiting the signup page.

## Desktop :

- The icon to hide and show password is out of bounds
- It can be worked out so that it is on the righ

[2022-10-03 16:42] uday03meh commented on #434
Hi, I'm currently working on this.

[2022-10-03 18:53] Shaba1406 commented on #354
is this issue related to Google clone or a search bar which links with the google ? @The-Shivam-garg

[2022-10-03 18:54] Shaba1406 commented on #354
I want to work on this issue Please assign this to me @The-Shivam-garg

[2022-10-03 20:30] uday03meh commented on #434
Hi @The-Shivam-garg, please assign this to someone else. I'm not able to solve this issue.

[2022-10-04 01:46] #258 closed

[2022-10-04 02:09] codingkush opened #437 "More space in right side"
### Description

When i checked this site on pc so it wasn't  looking good...bcz there is a more space in right side of the website ...

Screenshot:---------->

![Screenshot_20221004-072121](https://user-images.githubusercontent.com/78756312/193719307-a6faac29-ebfb-4feb-b3ad-6e3617e91aa3.png)

![Screenshot_20221004-072156](https://user-images.githubusercontent.com/78756312/193719383-6dca52fc-c68b-

[2022-10-04 02:10] codingkush commented on #437
Pls assign me this issue under hacktobetfest'22.... I'm new in hacktobetfest'22

[2022-10-04 02:24] codingkush opened #438 "Improve the UI of desktop sign-in page..."
### Description

In desktop sign-in page, Text is not visible properly that looks not good. And there is unnecessary space between  Text and form ...

### Screenshots

In mobile sign-in page ...

![Screenshot_20221004-074113](https://user-images.githubusercontent.com/78756312/193720915-6fba1e32-60e8-4174-b9ea-9b9cffcfdb74.png)

In desktop sign-in page....

![Screenshot_20221004-074041~2](https://u

[2022-10-04 02:24] codingkush commented on #438
Pls assign me this issue under hacktobetfest'22

[2022-10-04 03:35] Kusha-web opened #439 "Add proper attributes to footer elements"
### Description

The links like email and telephone numbers can be given proper attributes to make them directly open appropriate apps

### Screenshots

![Uploading image.png…]()

[2022-10-04 03:36] Kusha-web commented on #439
If this seems legit, can I work on it?

[2022-10-04 03:38] Kusha-web opened #440 "Add css to make active tab noticeable"
### Description

CSS can be added to make the current tab have some sort of noticeable feature

### Screenshots

![image](https://user-images.githubusercontent.com/68588123/193729153-e0446ed1-0f3f-4ba7-915d-8fca5d9367bb.png)

[2022-10-04 03:38] Kusha-web commented on #440
If this seems legit, can I work on it?

[2022-10-04 05:44] pandeatul27 opened #441 "Slideshow effect doesn't work int teach.html page"
### Description

The image slider doesn't change automatically, and also the third slide doesn't open even on clicking the third dot

### Screenshots

<img width="960" alt="2022-10-04 (4)" src="https://user-images.githubusercontent.com/94844506/193743485-c792657b-ba56-4c1c-83c3-7094774164f2.png">

[2022-10-04 05:44] pandeatul27 commented on #441
Allow me to work on this issue under hacktoberfest

[2022-10-04 05:53] pandeatul27 opened #442 "Nav bar is not fixed in course page"
### Description

the nav bar on the course page is not fixed so it not coming down when we scroll the page down

### Screenshots

_No response_

[2022-10-04 05:54] pandeatul27 commented on #442
Allow me to work on this issue under hacktoberfest

[2022-10-04 06:39] tanya-gupta25 opened #444 "Make navbar same in all the pages"
### Description

- Navbar in all pages is different, in some pages font is not proper and in other on hovering text color is black

### Screenshots

![image](https://user-images.githubusercontent.com/82203261/193751036-7563750b-5c73-48ed-a3a5-48b32edc1ccc.png)

[2022-10-04 06:39] tanya-gupta25 commented on #444
I would like to work on this issue under Hacktoberfest'22

[2022-10-04 09:06] codingkush opened #445 "Improve the UI of Blog Page in desktop"
### Description

Blog Page contains unnecessary space and background image is looking big in desktop mode...

### Screenshots

Background image in desktop...

![Screenshot_20221004-142943](https://user-images.githubusercontent.com/78756312/193780216-16d7395f-c4fa-47dd-b50d-dea35ad411db.png)

And unnecessary space ........

![Screenshot_20221004-142943](https://user-images.githubusercontent.com/787

[2022-10-04 09:07] codingkush commented on #445
Please assign me this issue under hacktobetfest'22...

[2022-10-04 13:40] surya-doc opened #446 "Unnecessary margin in left side of Course page"
### Description

There is an unnecessary margin on the left side of the course page and the navbar items are not properly visible on hover. I want to work on this issue.

### Screenshots

![image](https://user-images.githubusercontent.com/69008196/193834630-8c117a9b-5367-4f82-bf45-180365041b53.png)

[2022-10-04 16:10] The-Shivam-garg commented on #335
Hey @riddhitech , sorry but its already assigned you can look out for other issues listed in the section or you can come up with something of your own

[2022-10-04 16:11] The-Shivam-garg commented on #436
hey @IAmTamal thanks for reporting the bug , you can work on the issue

[2022-10-04 16:14] The-Shivam-garg commented on #354
hey @Shaba1406 , through this issue i want a mechanism to sign up to the website using google account . let me know if you are still interested in the same

[2022-10-04 16:14] The-Shivam-garg commented on #434
hey @riddhitech  you can start working on this issue

[2022-10-04 16:16] The-Shivam-garg commented on #437
hey @codingkush , the issue is already mentioned in the issue list and assigned to someone else .please do check out the issue list before creating a new one

[2022-10-04 16:16] #437 closed

[2022-10-04 16:17] The-Shivam-garg commented on #438
Hey @codingkush  , you can work on the same

[2022-10-04 16:18] The-Shivam-garg commented on #440
I would say to change the navbar , and make it more appealing with the theme . if you can work on this let me know

[2022-10-04 16:21] The-Shivam-garg commented on #441
hey @pandeatul27 , thanks for finding the bug you can start working on this issue

[2022-10-04 16:23] The-Shivam-garg commented on #442
its working perfect on my side , might be some network bug on your side

[2022-10-04 16:24] The-Shivam-garg commented on #444
hey @tanya-gupta25 , thanks for finding the bug . you can start working on this issue . Would be better if you can redesign the nav bar

[2022-10-04 16:26] The-Shivam-garg commented on #435
hey @IAmTamal , thanks for recommending the feature. you can start working on the same.

[2022-10-04 17:15] Kusha-web commented on #440
@The-Shivam-garg Sure, can work with that

[2022-10-04 19:04] pandeatul27 commented on #442
ok thanks

[2022-10-04 23:55] mohamednajiub opened #448 "Home Page [Why Education section] UI Enhancements"
### Description

Hello, after checking the Home Page I found some UI Issues in "Why education" section.

**Desktop:**

1. when hovering on the card, the card image has some space from the right and top, this should be removed.
2. Learn More button has a big space under it I think we can decrease this space to 30px on the desktop and that will not affect the design or make it ugly.

![image](https:

[2022-10-05 00:06] mohamednajiub opened #449 "[Home - Responsive] - Testimonials section breaks the layout"
### Description

Testimonials section cards have a lot of space in the left this should be removed.

**NOTE**
Fixing this section doesn't remove the white space on the right it's a big part of it but it's not the whole fix

![image](https://user-images.githubusercontent.com/22493564/193951777-9fb5426e-228c-4557-a062-b0d3898ec93e.png)

**Can I work on it ?**
Absolutely, assign me the issue and add

[2022-10-05 00:12] mohamednajiub opened #450 "[Home - Responsive] what we offer section breaks layout"
### Description

the items in this section have a big font size in responsive that's another part of the issue horizontal scroll and white space on the right of screen.

**NOTE**
part one of the horizontal scroll issue mentioned in #449

![image](https://user-images.githubusercontent.com/22493564/193952679-0013ea1d-10a4-42ed-a128-c84990761df2.png)

**Can I work on it ?**
Absolutely, assign me the

[2022-10-05 03:13] Anjuli08 opened #451 "Improve the testimonials section"
### Description

The testimonials section is not properly aligned in the site. so I would like to correct its alignment and make it more attractive wherever necessary under the HACTOBERFEST 2022.

### Screenshots

![bigb05](https://user-images.githubusercontent.com/90701800/193973161-a1386b7b-a8e9-43bb-b14d-d174ed3c0205.png)

[2022-10-05 06:26] Shamik1836 commented on #430
Can I work on this issue, if it's still open?

[2022-10-05 07:51] Shaba1406 commented on #354
Thankyou but now you can assign it to anyone else

[2022-10-05 11:17] AryanSahoo-2003 opened #453 "Uneven distribution in U.I"
### Description

In most of the course section , uneven distribution of course amount ,it's details etc are present in different cards which make it unattractive...It can be solved by making it in a generalised order padding and constant margin.

### Screenshots

![image](https://user-images.githubusercontent.com/110082824/194047749-ffa94aea-4e0f-445e-b654-7818da4a873e.png)
![image](https://user-i

[2022-10-05 11:17] AryanSahoo-2003 commented on #453
Please assign me to this under hacktoberfest so that I can resolve this

[2022-10-05 11:17] #453 closed

[2022-10-05 15:01] IAmTamal commented on #435
@The-Shivam-garg made a PR, feel free to let me know about further changes !

[2022-10-05 16:09] AryanSahoo-2003 opened #455 "Uneven distribution in U.I"
### Description

In most of the course section , uneven distribution of course amount ,it's details etc are present in different cards which make it unattractive...It can be solved by making it in a generalised order padding and constant margin.

### Screenshots

![image](https://user-images.githubusercontent.com/110082824/194109015-57511e7f-745e-4ed2-b060-31a318f17759.png)
![image](https://user-i

[2022-10-05 16:10] AryanSahoo-2003 commented on #455
Please assign me to this under hacktoberfest so that I can resolve this

[2022-10-05 17:26] The-Shivam-garg commented on #455
hey @AryanSahoo-2003 , thanks for reporting the bug . you can start working on this issue

[2022-10-05 17:29] The-Shivam-garg commented on #451
hey @Anjuli08 this was done intentionally . though you can check out other issue that are listed over there

[2022-10-05 17:29] #451 closed

[2022-10-05 17:35] The-Shivam-garg commented on #450
hey @mohamednajiub you can work on this issue . but the second issue that you mentioned as a different issue . Due to the changes that need to be done in both are very minimal so i will count both in one . so it will be good if you can implement both the issue in a single commit and make  a PR

[2022-10-05 17:41] #435 closed

[2022-10-05 17:47] #441 closed

[2022-10-05 18:56] IAmTamal commented on #436
Hey @The-Shivam-garg , the PR is  created at #456 , feel free to suggest me changes if any.

[2022-10-05 20:40] AryanSahoo-2003 opened #458 "Image Re-Position"
### Description

In specifically feature tab., The two images which I have pinned below are not correctly laid over which makes second image a bit more to be down than left one..
So I request to assign this to me under Hacktoberfest as well as I will change the button to get on top of page as the css styling could be better than it is currently now.

### Screenshots

![image](https://user-images.g

[2022-10-05 20:43] marisabrantley opened #459 "Courses Page: Alt Text on Course Images Links"
### Description

On the main Courses page of the site, the images used in the boxes linked to the individual courses need alt text (let's make this site more accessible).

Please assign this to me.

### Screenshots

<img width="596" alt="missing-alt-text" src="https://user-images.githubusercontent.com/60168324/194158783-c837ad6e-7d73-4411-af31-1b1dd32eeabc.png">

[2022-10-06 16:45] #436 closed

[2022-10-06 16:50] The-Shivam-garg commented on #459
hey @marisabrantley , thanks for recommending changes . You can start working on this issue

[2022-10-06 16:55] #449 closed

[2022-10-06 16:55] #450 closed, assigned to mohamednajiub

[2022-10-06 16:57] #455 closed

[2022-10-06 17:30] marisabrantley commented on #459
Thank you.

[2022-10-06 17:53] jriyyya opened #462 "Issue in Navbar icons of courses"
### Description

When hovered upon, the icons turn all black and the icon lable are not visible

![Screenshot 2022-10-06 231813](https://user-images.githubusercontent.com/96080203/194384105-a98c3766-e308-4430-9ba6-33c19dd4d293.jpg)
![Screenshot 2022-10-06 231858](https://user-images.githubusercontent.com/96080203/194384113-81a30548-6777-4614-a0f4-45331c2466a5.jpg)

I believe i can fix this issue,

[2022-10-06 17:55] jriyyya commented on #462
I believe I can fix this issue, can you please assign me this issue with the hacktoberfest tag. @The-Shivam-garg

[2022-10-06 18:00] jriyyya opened #463 "Issue in the courses page"
### Description

The whole page of courses is shifted towards the righthand side, leaving behind a space of white margin.

I believe I can fix this issue, can you please assign me this issue with the hacktoberfest tag.

### Screenshots

![Screenshot 2022-10-06 232715](https://user-images.githubusercontent.com/96080203/194385439-b9813ccf-f033-4aa4-b3b3-eeaec59cf195.jpg)

[2022-10-06 18:01] jriyyya commented on #463
I believe I can fix this issue, can you please assign me this issue with the hacktoberfest tag. @The-Shivam-garg

[2022-10-06 18:12] #463 closed

[2022-10-06 18:29] jriyyya opened #465 "Sign in button not working on contact us page"
### Description

After clicking on the sign in button, a new page opens up for login, but that does not happen in contact us. After clicking on sign in button present on contact us page, it does not respond.

I believe I can fix this issue, Can you please assign this issue to me under hactoberfest tag.

### Screenshots

_No response_

[2022-10-07 04:27] pandeatul27 opened #468 "Adding Footer to the Counselling page"
### Description

I want to add a footer to the counseling page.

### Screenshots

_No response_

[2022-10-07 04:28] pandeatul27 commented on #468
Allow me to work on this issue under hacktoberfest

[2022-10-07 04:33] pandeatul27 opened #469 "Boxes on the blog page are not aligned"
### Description

Boxes on the blog page are unevenly aligned

### Screenshots

<img width="960" alt="2022-10-07" src="https://user-images.githubusercontent.com/94844506/194468395-19d7169e-8e94-4202-9e20-30b63306bc89.png">

[2022-10-07 04:33] pandeatul27 commented on #469
Allow me to work on this issue under hacktoberfest

[2022-10-07 12:52] ShubhJan opened #470 "Improving input field's design in home page"
The input form field for "Join Free Online Courses" is too basic. Allow me to improve it.
![image](https://user-images.githubusercontent.com/95143941/194553584-08d955d6-f41c-4ede-a765-b782d2512e57.png)

We can add additional functionality to them by displaying their placeholder even after filling them so that user does not get confused.
![hacktober1](https://user-images.githubusercontent.com/95143

[2022-10-07 12:56] ShubhJan commented on #470
Please allow me to work on this issue under hacktoberfest.

[2022-10-07 16:27] sumitkr2000 opened #471 "Improving Courses Page"
### Description

Hey @The-Shivam-garg, The course page is not properly alligned with the page. Can you assign me this issue so that I can fix it?

Thank you!

### Screenshots

![Screenshot (376)](https://user-images.githubusercontent.com/100675296/194602245-9b1b06ed-a795-4a74-ae42-b36d3634ca6e.png)

[2022-10-07 17:28] nimraistikhar opened #472 "Unwanted spacing in left side of Contact page"
### Description

extra spacing in left side

### Screenshots

<img width="1424" alt="Screenshot 2022-10-07 at 10 23 09 PM" src="https://user-images.githubusercontent.com/60286314/194615116-d1c4789f-70a6-407f-8c5f-ab32f8070d11.png">

[2022-10-07 17:29] nimraistikhar commented on #472
Assign me to fix it

[2022-10-07 17:52] nimraistikhar opened #473 "Tight Spaces around 'get in touch' section in Contact page"
### Description

Should be a bit wide and elegant to see around 'get in touch' section.

### Screenshots

<img width="1412" alt="Screenshot 2022-10-07 at 10 34 20 PM" src="https://user-images.githubusercontent.com/60286314/194617302-d8b23f85-2785-443b-a469-0a7a16a303c3.png">

[2022-10-07 17:52] nimraistikhar commented on #473
Please allow me to fix this task!

[2022-10-08 13:22] DeveloperAshish8 opened #476 "Wants to add similar footer to all the pages for better UX."
### Description

This will make navigation easy and will enhance the connectivity of user with the home page as well.
Currently, some pages have totally different footer.

### Screenshots

_No response_

[2022-10-08 14:19] The-Shivam-garg commented on #465
hey @jriyyya thanks for finding the bug , You can start working on this issue

[2022-10-08 14:20] The-Shivam-garg commented on #468
hey @pandeatul27  , thanks for your suggestion .You can start working on this issue

[2022-10-08 14:21] The-Shivam-garg commented on #469
hey @pandeatul27 , thanks for reporting the bug and showing your interest in working the same .You can start working on this issue

[2022-10-08 14:23] The-Shivam-garg commented on #470
hey @ShubhJan  , thanks for your suggestion .Before assigning the issue I would like to know what changes you are planning to implement under this issue

[2022-10-08 14:24] The-Shivam-garg commented on #471
Hey @sumitkr2000  , thanks for your suggestion . But somebody is already working on this issue. You can look out for the other issues that are listed over there

[2022-10-08 14:24] #471 closed

[2022-10-08 14:25] The-Shivam-garg commented on #472
hey @nimraistikhar , thanks for your suggestion .You can start working on this issue

[2022-10-08 14:28] The-Shivam-garg commented on #473
Hey @nimraistikhar , i appreciate your  time and efforts. But I can only merge both of your issue in a single PR as both requires minimal changes . If your Ohk with this let me know I will assign this issue to you

[2022-10-08 14:29] The-Shivam-garg commented on #476
Hey @DeveloperAshish8 thanks for sharing your suggestion . You can start working on this issue .

[2022-10-08 14:32] nimraistikhar commented on #473
Sure, i'll do these both in a single PR.

[2022-10-08 14:33] #458 closed

[2022-10-08 14:38] #459 closed

[2022-10-08 14:39] The-Shivam-garg commented on #473
great then @nimraistikhar . Happy Coding :)

[2022-10-08 14:41] sumitkr2000 opened #478 "Make the navbar of every page same"
### Description

Hey @The-Shivam-garg, because of the inconsistency of the navbar on all the pages the website is not looking good. Also, the sign-in button on the contact page is not working. Can you please assign me this issue so that I can work on it? Thank you!

### Screenshots

![Screenshot (386)](https://user-images.githubusercontent.com/100675296/194713017-8cfa0781-3f25-4de9-ab16-204a23df2b

[2022-10-08 14:43] #465 closed

[2022-10-08 14:45] The-Shivam-garg commented on #448
HEy @mohamednajiub , Thanks for reporting the bug . You can start working on this issue

[2022-10-08 15:20] ShubhJan commented on #470
Yes!
I will improve the code so that colour surrounds the box and placeholder seems visible even while filling the info

for example: it will look something like this:
![image](https://user-images.githubusercontent.com/95143941/194714519-29316cf0-2dc6-400b-82dc-f86176a633b9.png)
![Screenshot (88)_LI](https://user-images.githubusercontent.com/95143941/194714704-d5cc8bab-357b-481b-9e34-2a6fcbe5a857.

[2022-10-08 15:38] AryanSahoo-2003 commented on #458
Sir!Please add Hactoberfest accepted label as it is not showing on my contribution list

[2022-10-08 15:45] The-Shivam-garg commented on #470
hey @ShubhJan , thanks for your suggestion . You can start working on this issue

[2022-10-08 15:58] AryanSahoo-2003 opened #481 "Unattractive Blog section in Feature Tab"
### Description

There is uneven flow of three blog cards which needs to be smooth so as to make it a generalized attractive card.
Also in this section, the top button is somewhat clumsy and I think it should be same which is on Home Tab

### Screenshots

![image](https://user-images.githubusercontent.com/110082824/194716346-0231e5e3-8646-4f70-a6a1-ecdf6e950f9b.png)
![image](https://user-images.gi

[2022-10-08 16:04] Anurag-Singh-04 opened #482 "Improving online course form"
### Description

In the online course form, placeholder does not have proper padding. Could you please assign this issue to me.

### Screenshots

<img width="1440" alt="Screenshot 2022-10-08 at 9 27 40 PM" src="https://user-images.githubusercontent.com/97782687/194716658-9904597a-fa06-4c14-a4e7-ee39075b3f80.png">

[2022-10-08 19:23] imyoungsparda opened #484 "Day-Night Toggle icon doesn't look good."
### Description

The sun icon in day-night toggle looks like a setting icon which confuses a new visitor of the website.

We can use this icon.

![image](https://user-images.githubusercontent.com/112796825/194724092-1ad35b0b-0a83-4fd4-9ea3-54f94f9d303c.png)

### Screenshots

![image](https://user-images.githubusercontent.com/112796825/194724067-c3862a7a-4b5f-406d-882d-cc8a84bf1acd.png)